body,html{
	width: 100%;
	height: 100%;
}
.hbb{
width: 35px;
height: 30px;
float: left;

z-index: 1000;
position: fixed;
top: 20px;

right: 17px;

background-position: center center;   
	background-size: cover;   
	background-repeat: no-repeat; 
	background-image: url('../img/hbb.png');
}
/* img{
	width: 100%;
	height: 100%;
} */
.hbbz{
	background-image: url('../img/z.png');
}
.hbbl{
	width: 40%;
	height: 100%;
	background: #393B42;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	opacity: 0.85;
}
.hbbr{
	width: 60%;
	height: 100%;
	background: #393B42;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	display: none;
	/* opacity: 0.6; */
}
.touxiang{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-image: url('../img/img1.jpg');
	background-position: center center;   
	background-size: cover;   
	background-repeat: no-repeat; 
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 100px;
}
.hbbl h1{
	text-align: center;
position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 320px;
	margin-top: 10px;
	color: #fff;
}
.hbbl h2{
	font-size: 2em;
	text-align: center;
position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 400px;
	margin-top: 10px;
	color: #fff;
}
.hbbr ul{
	margin-top: 100px;
	width: 100%;
	height: 80%;
}
.hbbr ul li{
	width: 100%;
	height: 66px;
	font-size: 30px;
	line-height: 66px;
	color: #A1A3A9;
	padding-left: 60px;
	transition: all 0.5s;
}

.hbbr ul .lihove{
	border-left: 5px solid #000;
	background: #4B4B4D;
	color: white;
	transition: all 0.5s;
}
.section .box{
	width: 100%;
	height: 100%;
	background-image: url('../img/contact.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.section .box .tushou h3{
	color: white;
}
.box4x{
	width:80%;
	height: 60%;
	background: #FDFFFE;
	margin: 0 auto;
	padding: 2em;
}
input[type="text"],input[type="email"],textarea {
	background: none;
	width: 100%;
	color: #777;
	padding: 19px 10px;
	margin-bottom: 24px;
	outline: none;
	border: 2px solid #00a78e;
}
textarea{
	height: 200px;
}
input[type="submit"] {
	border: none;
	outline: none;
	color: #fff;
	background: #212322;
	font-size: 16px;
	padding: 13px 40px;
}
.box4xl{
	 float: left;
 }
.box4xr{
	float: left;
	margin-left: 50px;
}
*{
	padding:0;
	margin:0;
}

.list{
	width:800px;
	height:411px;
}
.list li{
	position: absolute;
	left:0;
	top:0;
	overflow: hidden;
}
.sct3{
	width: 80%;
	height: 65%;
	/*background: black;*/
position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	margin-bottom: 125px;

}
.list li img{
	width:685px;
	height:441px;
}
.sct2{
	width: 80%;
	height: 65%;
	/*background: black;*/
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	margin-bottom: 125px;


}
.sct2 ul{

	width: 100%;
	height: 100%;
	overflow: hidden;

}
.sct2 li{
	width:20%;
	height: 90%;
	/*background: red;*/
	float: left;
	margin: 2.5%;
	text-align: center;

}
.jny{
	width:150px;
	height:150px;
	background: blue;
	margin: 0 auto;
	margin-top:25%;
	margin-bottom: 10%;
}

.sct2 ul li span{
	font-size: 30px;
	color: #ffffff;


}
.syl{
	width:100%;
	height: 100%;
	position: absolute;
	bottom:0;
	left: 0;
	background: black;
}