.bgbox1 {
  width: 900px;
  height: 580px;
  margin: auto;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.bgbox1 .txiang {
  position: absolute;
  left: 200px;
  top: 140px;
  width: 200px;
  height: 200px;
  background: blue;
  border-radius: 100px;
  overflow: hidden;
}
.bgbox1 .txzi {
  position: absolute;
  left: 120px;
  top: 340px;
  color: #212121;
}
.bgbox1 .daohang1 {
  position: absolute;
  width: 147px;
  height: 20px;
  left: 673px;
  top: 181px;
}
.bgbox1 .daohang1:hover .dhyuan {
  margin-left: 10px;
}
.bgbox1 .daohang1:hover span {
  margin-left: -20px;
}
.bgbox1 .daohang1 .dhyuan {
  width: 12px;
  height: 12px;
  background: #35B5D2;
  margin: 4px;
  border-radius: 50%;
  float: left;
  transition: all 0.2s;
}
.bgbox1 span {
  font-size: 20px;
  color: #707070;
  line-height: 20px;
  margin-left: -30px;
  transition: all 0.2s;
}
.bgbox1 .daohang2 {
  position: absolute;
  width: 147px;
  height: 19px;
  left: 703px;
  top: 232px;
}
.bgbox1 .daohang2:hover .dhyuan {
  margin-left: 10px;
}
.bgbox1 .daohang2:hover span {
  margin-left: -20px;
}
.bgbox1 .daohang2 .dhyuan {
  width: 12px;
  height: 12px;
  background: #F3BF2E;
  margin: 4px;
  border-radius: 50%;
  float: left;
  transition: all 0.2s;
}
.bgbox1 .daohang3 {
  position: absolute;
  width: 147px;
  height: 19px;
  left: 733px;
  top: 280px;
}
.bgbox1 .daohang3:hover .dhyuan {
  margin-left: 10px;
}
.bgbox1 .daohang3:hover span {
  margin-left: -20px;
}
.bgbox1 .daohang3 .dhyuan {
  width: 12px;
  height: 12px;
  background: #5C86C2;
  margin: 4px;
  border-radius: 50%;
  float: left;
  transition: all 0.2s;
}
.bgbox1 .daohang4 {
  position: absolute;
  width: 147px;
  height: 19px;
  left: 703px;
  top: 328px;
}
.bgbox1 .daohang4:hover .dhyuan {
  margin-left: 10px;
}
.bgbox1 .daohang4:hover span {
  margin-left: -20px;
}
.bgbox1 .daohang4 .dhyuan {
  width: 12px;
  height: 12px;
  background: #D44267;
  margin: 4px;
  border-radius: 50%;
  float: left;
  transition: all 0.2s;
}
.bgbox1 .daohang5 {
  position: absolute;
  width: 147px;
  height: 19px;
  left: 673px;
  top: 374px;
}
.bgbox1 .daohang5:hover .dhyuan {
  margin-left: 10px;
}
.bgbox1 .daohang5:hover span {
  margin-left: -20px;
}
.bgbox1 .daohang5 .dhyuan {
  width: 12px;
  height: 12px;
  background: #A5C26E;
  margin: 4px;
  border-radius: 50%;
  float: left;
  transition: all 0.2s;
}
img {
  width: 100%;
  height: 100%;
}
.longbo {
  background: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
  width: 34px;
  height: 180px;
  right: 100px;
  border-radius: 15px;
}
.longbo a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00a78e;
  margin: 6px;
  margin-top: 10px;
}
.longbo a:nth-child(1) {
  background: #35B5D2;
  border: 2px solid #35B5D2;
}
.longbo a:nth-child(2) {
  background: #F3BF2E;
  border: 2px solid #F3BF2E;
}
.longbo a:nth-child(3) {
  background: #5C86C2;
  border: 2px solid #5C86C2;
}
.longbo a:nth-child(4) {
  background: #D44267;
  border: 2px solid #D44267;
}
.longbo a:nth-child(5) {
  background: #A5C26E;
  border: 2px solid #A5C26E;
}
.longbo a:hover {
  background: #fff;
}
.biao {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
#main {
  width: 100%;
  height: 100%;
  margin: 0;
}
