@charset "utf-8";

/* CSS Document */


/* reset */

html {
	height: 100%;
	overflow-x: hidden;
}

body {
	min-height: 100%;
	overflow-x: hidden;
}

body {
	_height: 100%
}

body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
pre,
code,
fieldset,
legend,
form,
input,
select,
textarea,
button,
p,
blockquote,
th,
td,
figure {
	margin: 0;
	padding: 0
}

body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
pre,
code,
fieldset,
legend,
form,
p,
blockquote,
figure,
header,
footer,
nav,
article,
section,
aside,
address,
figcaption {
	*zoom: 1
}

li {
	list-style-type: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

iframe,
frame,
fieldset,
img {
	border: 0 none
}

img {
	vertical-align: top;
	max-width: 100%;
}

input[type=button],
input[type=submit],
input[type=reset] {
	cursor: pointer
}

button {
	cursor: pointer
}

input,
textarea,
button {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	outline: 0;
	border: 0;
	border-radius: 5px;
}

input[type=radio] {
	-webkit-border-radius: 100%;
	-webkit-appearance: radio
}

input[type=checkbox] {
	-webkit-appearance: checkbox
}

input[type=search] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box
}

textarea {
	overflow: auto;
	resize: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,
th {
	text-align: left
}

th {
	font-weight: normal
}

em,
cite,
address,
i {
	font-style: normal
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

body,
input,
select,
button,
textarea {
	color: #555;
	font-size: 14px;
	font-family: "微软雅黑";
}

body {
	line-height: 1.5
}

a:link,
a:visited,
a:active,
a {
	text-decoration: none;
	color: #555555;
}

a:hover {
	color: #D7000F;
}

a {
	blr: expression(this.onFocus=this.blur())
}

a * {
	*cursor: pointer
}

:focus {
	outline: none
}

.clear {
	clear: both;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	opacity: 0.5;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	opacity: 0.5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	opacity: 0.5;
}

.edit_con_original {
	line-height: 1.8;
	padding: 0 0;
	color: #333;
	text-align: justify;
}

.edit_con_original ul {
	margin: inherit;
	padding: inherit
}

.edit_con_original ul li {
	list-style-type: disc;
	margin: auto;
	padding: inherit
}

.edit_con_original ol {
	margin: inherit;
	padding: inherit
}

.edit_con_original ol li {
	list-style-type: decimal;
	margin: auto;
	padding: inherit
}

.edit_con_original h1 {
	font-size: 2em;
	font-weight: bold
}

.edit_con_original h2 {
	font-size: 1.5em;
	font-weight: bold
}

.edit_con_original h3 {
	font-size: 1.17em;
	font-weight: bold
}

.edit_con_original h4 {
	font-size: 1em;
	font-weight: bold
}

.edit_con_original h5 {
	font-size: 0.83em;
	font-weight: bold
}

.edit_con_original h6 {
	font-size: 0.67em;
	font-weight: bold
}

.edit_con_original em {
	font-style: italic
}

.edit_con_original cite {
	font-style: italic
}

.edit_con_original address {
	font-style: italic
}

.edit_con_original i {
	font-style: italic
}

.edit_con_original table {
	border-collapse: separate;
	border-spacing: 2px
}

.edit_con_original img {
	max-width: 100%;
	height: auto;
}


/*所有后台编辑器区域都要引用 edit_con_original 类名*/


/* clear 页头，页脚，内容区都不用再加清除样式 */

.fixed:before,
.clearfix:before,
.cf:before,
body:before,
.header:before,
.main:before,
.footer:before {
	content: '';
	display: table
}

.fixed:after,
.clearfix:after,
.cf:after,
after,
.header:after,
.main:after,
.footer:after {
	content: '';
	display: table;
	clear: both
}

.fixed,
.clearfix,
.cf,
.header,
.main,
.footer {
	*zoom: 1
}

.clear,
.cl {
	display: block!important;
	float: none!important;
	clear: both;
	width: auto!important;
	max-width: none!important;
	min-width: 0!important;
	max-height: none!important;
	min-height: 0!important;
	overflow: hidden;
	margin: 0!important;
	padding: 0!important;
	border: 0 none!important;
	font-size: 0!important;
	line-height: 0!important
}


/*公用样式end*/

.ratio-img {
	width: 100%;
	height: auto;
	display: block;
}

.ratio-img img {
	width: 100%;
	height: 100%;
}

.auto-bg {
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	background-position: center;
	background-size: cover;
	-ms-behavior: url(backgroundsize.min.htc);
	behavior: url(backgroundsize.min.htc);
}

.tran_scale {
	overflow: hidden;
	display: block;
}

.tran_scale img {
	transition: 1s all;
	-webkit-transition: 1s all;
}

.tran_scale:hover img {
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-webkit-moz-: scale(1.1, 1.1);
}

.ellipsis {
	white-space: nowrap;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hide {
	display: none;
}

.font-18 {
	font-size: 18px;
}

.font-20 {
	font-size: 20px;
}

.font-24 {
	font-size: 24px;
}

.font-30 {
	font-size: 30px;
}

.font-36 {
	font-size: 36px;
}

.font-44 {
	font-size: 44px;
}

.font-52 {
	font-size: 46px;
}

.font-72 {
	font-size: 72px;
}

strong.font-72 {
	font-weight: normal;
}

.viewmore {
	display: block;
	height: 31px;
	padding: 30px 0 30px;
	text-align: center;
	font-size: 16px;
}

.viewmore a {
	display: inline-block;
	padding: 5px 15px;
	border: 1px solid #9F9583;
}

.viewmore a:hover {
	background: #666;
	color: #fff;
}


/*input*/

.error {
	position: relative;
}

.error .valid_message {
	position: absolute;
	top: 0px;
	right: 0px;
	color: #fff;
	text-align: center;
	line-height: 25px !important;
	height: 25px !important;
	float: none !important;
	font-size: 12px;
	display: block !important;
	border: 0 !important;
	background: rgba(0, 0, 0, 0.5) !important;
	border-radius: 5px;
	width: 120px !important;
	z-index: 10;
}


/*weixin*/

.disP {
	display: block !important;
}

.tan_weixin {
	border: 1px solid #ccc;
	padding: 30px 15px 15px;
	background: #fbfbfb;
	display: none;
	left: 50%;
	margin-left: -145px;
	margin-top: -150px;
	position: fixed;
	top: 50%;
	z-index: 160;
}

.tan_weixin img {
	height: 260px;
	width: 260px;
}

.closed2 {
	font-size: 30px;
	position: absolute;
	right: 15px;
	top: -10px;
}

.tan_weixin span {
	display: block;
	width: 100%;
	height: 1px;
	background: #ccc;
}

.tan_weixin h3 {
	text-align: center;
	line-height: 30px;
}

.banner_left {
	background: url(../images/cursor-left.png) no-repeat;
	left: 3%;
	top: 50%;
	margin-top: -27px;
	display: block;
	width: 33px;
	height: 54px;
	position: absolute;
	z-index: 1000;
}

.banner_right {
	background: url(../images/cursor-right.png) no-repeat;
	right: 3%;
	top: 50%;
	margin-top: -27px;
	display: block;
	width: 33px;
	height: 54px;
	position: absolute;
	z-index: 1000;
}

.banner video {
	width: 100%;
	height: 100%;
}

.wraper {
	max-width: 100%;
	min-width: 320px;
	margin: 0 auto;
}

.main {}

.wrap {
	width: 1200px;
	margin: 0 auto;
}

.header {
	height: 104px;
	position: fixed;
	width: 100%;
	z-index: 10000;
	background: #F3F1EF;
}

.header.fixedhede {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 0 5px #bbb;
	background: rgba(243, 241, 239, 0.8);
	filter: Alpha(opacity=80);
}

.lt9 .header.fixedhede {
	border-bottom: 1px solid #eee;
}

.logo {
	float: left;
	width: 340px;
}

.logo img {
	width: 100%;
	height: auto;
}

.address_sel {
	float: left;
	width: 70px;
	color: #4C4C4C;
	border-bottom: 1px solid #C2C2C2;
	height: 24px;
	line-height: 24px;
	margin: 20px 0 0;
}


/*新闻*/

.topcon {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #e7e7e7;
	color: #9b9b9b;
}

.topcon .com {
	width: 90%;
	margin: 0 auto;
}

.mqs {
	width: 60%;
	height: 30px;
	float: left;
}

.mqs span {
	width: 100%;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 2%;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
}

#mq {
	width: 80%;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	text-align: left;
	float: left;
	OVERFLOW: hidden;
	WIDTH: 100%;
	margin: 0 auto;
	HEIGHT: 30px;
}

#mq ul {
	width: 100%;
}

#mq ul li {
	height: 30px;
	width: 100%;
	overflow: hidden;
	text-align: left;
	color: #9b9b9b;
}

#mq ul li .vo {
	line-height: 30px;
	text-overflow: ellipsis;
}

#mq ul li .vo img {
	width: 18px;
	vertical-align: sub;
	margin-right: 5px;
}

#mq ul li .vo a {
	color: #9b9b9b;
}

#mq ul li .vo a:hover {
	color: #C33;
}

.ycwbx {
	float: right;
}

.ycwbx .wbx {
	width: 100px;
	float: left;
	position: relative;
	color: #fff;
	cursor: pointer;
}

.ycwbx .wbx .tp {
	width: 100%;
	color: #9b9b9b;
}

.ycwbx .wbx .img {
	width: 20px;
	vertical-align: sub;
}

.ycwbx .wbx .wxewm {
	display: none;
	width: 100%;
	height: 100px;
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 9999;
}

.ycwbx .wbx:hover .wxewm {
	display: inline-block;
}


/*热线*/

.HotLine {
	width: 200px;
	padding-top: 6px;
	position: relative;
	font-size: 14px;
	margin-left: 0px;
	cursor: default;
	float: left;
}

.HotLine .ico-phone {
	width: 31px;
	height: 31px;
	background: url(../images/ico.png) no-repeat;
	position: absolute;
	left: 10px;
	top: 13px;
}

.HotLine .p1 {
	color: #666;
	padding-left: 60px;
}

.HotLine .p2 {
	font-size: 18px;
	font-weight: bold;
	padding-left: 60px;
	color: #f93e4a;
}

.HotLine ul {
	color: #666;
	line-height: 24px;
	width: 200px;
	margin: 10px auto;
	border-top: dotted 1px #ddd;
	padding: 10px 0;
	display: none;
	text-align: left;
}

.HotLine:hover {}

.HotLine:hover i {
	animation: phone ease .5s;
	-webkit-animation: phone ease .5s;
}


/*动画*/

@keyframes phone {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(20deg)
	}
	30%,
	80% {
		transform: rotate(-20deg)
	}
}

@-webkit-keyframes phone {
	0%,
	100% {
		-webkit-transform: rotate(0);
	}
	20%,
	60% {
		-webkit-transform: rotate(20deg)
	}
	30%,
	80% {
		-webkit-transform: rotate(-20deg)
	}
}


/*模拟select*/

.select-wrap.disabled .select-box {
	background: #eee;
}

.select-wrap.disabled .select-box a {
	color: #aaa;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.select-wrap.disabled .select-box .ico {
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.select-box {
	position: relative;
	box-sizing: border-box;
}

.select-box dt a {
	display: block;
	text-indent: 5px;
	position: relative;
	z-index: 2;
}

.select-box dt a b {
	overflow: hidden;
	margin: 0 10px 0 0;
	color: #333;
	font-size: 12px;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal;
}

.select-box.open dt a b {
	color: #787C80;
}

.select-box .ico {
	position: absolute;
	right: 0;
	top: 0;
	width: 7px;
	height: 100%;
	z-index: 1;
	background: url(../images/dot01.png) no-repeat right center;
}

.select-box dd {
	display: none;
}

.select-body-box {
	position: absolute;
	margin-top: 2px;
	border: 1px solid #ddd;
	border-top: 0;
	background: #fff;
	box-sizing: border-box;
	z-index: 111111;
	width: 370px !important;
}

.select-body-box a {
	display: inline-block;
	padding: 5px;
	width: 60px;
	color: #666;
	font-size: 12px;
}

.select-body-box:hover a.on {
	background: none;
	color: #666;
}

.select-body-box a.on,
.select-body-box a:hover,
.select-body-box:hover a.on:hover {
	background: #0094ff;
	color: #fff;
}

.selectmask {
	display: none;
}


/**/


/*.idnex2 .right_menu{ margin-top:0;top:90px; }
.idnex2 .returnTop{ margin-top:0; top:235px;}*/


/*导航*/

.bg {
	background: url(../images/block_04bg.jpg) center bottom no-repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}

.nav {
	float: left;
	width: 58%;
	margin: 20px 0 0 1%;
}

.nav li {
	float: left;
	padding: 0 10px;
	font-size: 16px;
	position: relative;
	width: 90px;
	text-align: center;
	line-height: 40px;
}

.nav ul li a {
	color: #000;
	font-size: 15px;
}

.nav ul li:hover {
	padding-bottom: 30px
}

.nav ul li:hover .a-1 {
	color: #000
}

.nav ul .on {
	padding-bottom: 30px;
	background: url(../images/nv_bg.jpg) repeat-x 50% bottom;
	color: #d34149
}

.nav ul .on .a-1 {
	color: #d34149
}

.nav ul li ol {
	z-index: 1000;
	border-bottom: #d34149 2px solid;
	position: absolute;
	text-align: center;
	width: 116px;
	background: url(../images/tbg1.png) repeat;
	margin-left: -58px;
	TOp: 50px;
	left: 50%
}

.nav ul li ol p {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-TOp: 0px
}

.nav ul li ol p a {
	padding-bottom: 3px;
	margin-top: 7px;
	padding-left: 0px;
	padding-right: 0px;
	display: block;
	margin-bottom: 10px;
	color: #fff;
	font-size: 13px;
	padding-TOp: 3px
}

.nav ul li ol p a:hover {
	background-color: #ccc;
	color: #000
}

.tel {
	float: left;
	margin: 20px 0 0;
	background: url(../images/dot02.png) left center no-repeat;
	padding-left: 20px;
	font-size: 16px;
	font-weight: bold;
}

.sear {
	float: right;
	width: 40%;
	margin-top: 2px;
	background: #fff;
	height: 22px;
	line-height: 22px;
	border: 1px solid #E4E4E4;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: -2px 2px 3px -2px #9A958C inset;
	-webkit-box-shadow: -2px 2px 3px -2px #9A958C inset;
	box-shadow: -2px 2px 3px -2px #9A958C inset;
}

.sear .txt {
	float: left;
	width: 70%;
	padding: 0 4%;
	height: 22px;
	line-height: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: none;
	background: none;
}

.sear .button {
	float: right;
	width: 14%;
	border: none;
	line-height: 20px;
	height: 20px;
	background: url(../images/dot03.png);
	background-size: cover;
	margin-top: 2px;
}

.more {
	display: block;
	width: 36px;
	height: 36px;
	background: url(../images/dot07.png) no-repeat;
	background-size: cover;
}

a.more1 {
	display: block;
	width: 78px;
	height: 20px;
	line-height: 20px;
	text-indent: 6px;
	color: #434343;
	font-size: 12px;
	border: 1px solid #BBBBBB;
	background: url(../images/dot12.png) 68px center no-repeat;
}

a.more1:hover {
	color: #F20011;
	border: 1px solid #F20011;
	background: url(../images/dot12_on.png) 68px center no-repeat;
}

.right_menu {
	position: fixed;
	z-index: 10000;
	right: 0px;
	bottom: 485px;
	margin-top: 0px;
	width: 48px;
	height: 145px;
	background: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.right_menu li {
	float: left;
	width: 100%;
	height: 48px;
	text-align: center;
	border-bottom: 1px solid #D1D1D1;
	position: relative;
}

.right_menu li a {
	display: block;
}

.right_menu li:last-child {
	border-bottom: none;
}

.right_menu li.last {
	border-bottom: none;
}

.right_menu li em {
	font-size: 12px;
	line-height: 14px;
	padding: 10px 0;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
}

.right_menu li.on em,
.right_menu li:hover em {
	color: #777777;
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

.right_menu li.on span img,
.right_menu li:hover span img {
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

.returnTop {
	position: fixed;
	_position: absolute;
	background: url(../images/dot22.png) no-repeat;
	background-size: cover;
	width: 48px;
	height: 48px;
	overflow: hidden;
	display: block;
	text-indent: -9999em;
	bottom: 435px;
	margin-top: 0px;
	z-index: 1000;
	left: auto !important;
	right: 0px;
	background-size: cover;
}

.returnTop p {
	background: url(../images/fh.jpg) no-repeat;
	display: none;
	width: 48px;
	height: 48px;
	border-radius: 4px;
}

@media all and (max-width: 1366px) {
	.right_menu {
		bottom: 420px;
	}
	.returnTop {
		bottom: 370px;
	}
}

@media all and (max-width: 1000px) {
	.returnTop {
		bottom: 125px;
	}
	.right_menu {
		bottom: 620px;
	}
}

.r_m_sub {
	z-index: -1;
	;
	position: absolute;
	visibility: hidden;
	top: 0;
	right: 0px;
	width: auto;
	padding: 20px;
	background: #fff;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.sub_01 {
	margin-top: -49px;
}

.sub_02 {
	margin-top: 0;
	word-wrap: break-word;
	break-word: break-all;
	width: 100px;
}

.right_menu li.on .r_m_sub {
	z-index: 101;
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	right: 60px;
	visibility: visible;
}

.tel_bot {
	display: none;
}

.yzm {
	cursor: pointer;
}

.phone {
	display: none;
}

.block_top {
	background: url(../images/block_topbg.jpg) left top repeat;
}

.ind_tit {
	padding: 60px 0 0;
	text-align: center;
}

.ind_tit span {
	color: #494949;
}

.ind_tit span b {
	color: #DF0010;
	font-weight: normal;
}

.ind_tit em {
	display: block;
	margin: 0 auto 20px;
	width: 65px;
	height: 24px;
	border-bottom: 1px solid #8A8A8A;
}

.tab_tit {
	text-align: center;
	margin: 0 0 50px;
}

.tab_tit li {
	display: inline-block;
	zoom: 1;
	*+display: inline;
	margin: 0 2px;
	cursor: pointer;
	position: relative;
}

.tab_tit li span {
	display: block;
	padding: 5px;
	width: 170px;
	font-size: 16px;
	color: #828282;
	background: #F7F7F7;
	border: 1px solid #D5D2D0;
}

.tab_tit li.on span {
	color: #fff;
	background: #9F9583;
	border: 1px solid #9F9583;
}

.tab_tit li.on em {
	display: block;
	width: 100%;
	height: 7px;
	background: url(../images/dot05.png) center bottom no-repeat;
}

.imglist li {
	float: left;
	width: 25%;
	*margin-left: -1px;
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	position: relative;
}

.imglist li:hover {
	/*transform:scale(1.05,1.05); -webkit-transform:scale(1.05,1.05); -ms-transform:scale(1.05,1.05);*/
	z-index: 5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.imglist li .inner {
	margin-right: 1px;
	margin-bottom: 1px;
	position: relative;
}

.imglist li .img {
	display: block;
}

.imglist li .img img {
	max-width: 100%;
}

.imglist li .txt {
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	width: 80%;
	padding: 0 10%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	zoom: 1;
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	background: url(../images/tm_50.png) repeat;
}


/*.imglist li:hover .txt { opacity:1;-moz-opacity:1;filter:alpha(opacity=100);z-index:999;transform:scale(1.05,1.05); -webkit-transform:scale(1.05,1.05); -ms-transform:scale(1.05,1.05); z-index:5; box-shadow:0 0 10px rgba(0,0,0,0.5);}*/

.imglist li:hover .txt {
	opacity: 1;
	filter: alpha(opacity=100);
}

.imglist li .txt h2 {
	margin: 13% 0 30px;
}

.imglist li .txt .c {
	font-size: 12px;
	height: 3em;
	margin: 0 0 20px;
	overflow: hidden;
}

.wid_all,
.dis_w_h {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	overflow: hidden;
}

.hei_all {
	width: 100%;
	height: 100%;
	display: block;
}

.ie7 .dis_w_h {
	display: block;
	width: 100%;
	height: 100%;
}

.block_02 h2 a {
	color: #fff !important;
}

.block_02 .more a {
	display: block;
	width: 100%;
	height: 100%;
}

.block_02 {
	overflow: hidden;
}

.block_03 {
	background: #F7F7F7;
	z-index: 9;
}

.block_03 ul {
	margin: 40px 0 0;
}

.block_03 li {
	float: left;
	width: 16.5%;
	*margin-left: -1px;
	position: relative;
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-o-transition: 0.3s all;
}

.block_03 li:hover {
	transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-0-moz: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	z-index: 5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.block_03 li.an {
	width: 25%;
}

.block_03 li.an .inner {
	background: #9F9583;
	color: #fff;
}

.block_03 li .inner {
	margin: 0 1px 1px 0;
}

@media only screen and (max-width: 767px) {
	.block_03 li .inner {
		margin: 0;
	}
}

.block_03 li .img {
	width: 100%;
}

.block_03 li .con {
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 85%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.lt9 .block_03 li .con {
	margin-top: -30px;
	margin-left: -135px;
}

.block_03 li .con h2 {
	margin: 30px 0 0;
	line-height: 1.2;
}

.block_03 li .con h2 em {}

.block_03 li .con span {
	display: block;
	text-align: center;
}

.block_03 li .txt {
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	width: 80%;
	padding: 0 10%;
	height: 100%;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	background: url(../images/tm_50.png) repeat;
}

.block_03 li .txt h2 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	top: 50%;
	margin-top: -15px;
	position: absolute;
	left: 0;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

.block_03 li:hover .txt,
.block_03 li:hover .txt h2 {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	z-index: 999;
}

.block_03 li .txt h2 a {
	color: #fff !important;
}

.nobg {
	background: none;
}

.block_04 {
	/*padding:20px 0 0px;background-attachment:fixed;*/
}

.block_04 .ind_tit span a {
	color: #fff;
}

.bl_04_con {
	margin: 0 8% 0;
}

.bl_04_con .fixed {}

.bl_04_con li {
	float: left;
	width: 16.66%;
	color: #fff;
}

.bl_04_con li .inner {
	margin: 15px;
	padding: 5px 10px 15px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	text-align: center;
}

.lt9 .bl_04_con li .inner {
	border: 3px solid #fff;
}

.bl_04_con li .inner a {
	color: #fff;
}

.bl_04_con li:hover .inner {
	border: 3px solid rgba(215, 0, 15, 0.5);
	background: rgba(255, 255, 255, 0.5);
}

.lt9 .bl_04_con li:hover .inner {
	border: 3px solid #D7000F;
}

.bl_04_con li:hover .inner a {
	color: #D7000F;
}

.bl_04_con li h2 {
	line-height: 1.2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bl_04_con li h3 {
	font-family: "宋体";
	line-height: 1.2
}

.bl_04_con li p {
	height: 3em;
	font-size: 12px;
	text-align: left;
	overflow: hidden;
}

.block_04 .bon {
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	display: block;
	margin: 0 auto 10px;
	width: 58px;
	height: 58px;
	background: url(../images/dot08.png) left top no-repeat;
	cursor: pointer;
}

.block_04 .bon:hover {
	background: url(../images/dot08_on.png) left top no-repeat;
}

.block_04 .bon a {
	display: block;
}

.block_04 .ind_tit em {
	border-bottom: 1px solid #fff;
}

.block_05 {
	background: #fff;
}

.bl_05_con {
	margin: 10px 0 0;
}

.bl_05_con li {
	float: left;
	width: 25%;
	*margin-left: -1px;
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	position: relative;
}

.bl_05_con li:hover {
	transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	z-index: 5;
	/* box-shadow:0 0 10px rgba(0,0,0,0.5);*/
}

.bl_05_con li .inner {
	margin-right: 5px;
	margin-bottom: 5px;
	position: relative;
}

.bl_05_con li .img {
	width: 100%;
	overflow: hidden;
}

.bl_05_con li .bot_txt {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 24px;
	line-height: 24px;
	padding: 10px 0;
	text-align: center;
	background: url(../images/tm_50.png) repeat;
	z-index: 2;
}

.bl_05_con li .bot_txt p {
	padding: 0 10px;
	color: #fff;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bl_05_con li .bot_txt p .fg {
	margin-left: 2%;
	font-size: 15px;
	color: #ccc;
}

.bl_05_con li .right_txt {
	position: absolute;
	width: 90px;
	height: 85px;
	right: 0;
	top: 0;
	z-index: 2;
	background: #9A9284;
	color: #fff;
}

.bl_05_con li .right_txt h2 {
	padding: 15px 5px 10px 10px;
}

.bl_05_con li .right_txt h2 span {
	display: block;
	line-height: 1.2;
}

.bl_05_con li .right_txt h2 span em {
	font-weight: bold;
}

.bl_05_con li .txt {
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;
	transition: 0.3s all;
	background: url(../images/tm_50.png) repeat;
}

.bl_05_con li .txt .txt_in {
	padding: 8.5% 8.5% 0;
}

.bl_05_con li .txt .t_i_logo {
	width: 29.3%;
	height: 29.3%;
	height: 81px;
	margin-bottom: 5%;
	/*border:1px solid #fff;*/
}

.bl_05_con li .txt .t_i_logo img {
	height: 100%;
	width: auto;
}

.bl_05_con li .txt .t_i_c {
	font-size: 12px;
	color: #fff;
	overflow: hidden;
}

.bl_05_con li .txt .t_i_c p.tit {
	line-height: 40px;
	font-size: 24px;
}

.bl_05_con li .txt .t_i_c p.fg {
	line-height: 30px;
	font-size: 16px;
}

.bl_05_con li .txt .t_i_c p .fg {
	line-height: 30px;
	font-size: 16px;
	margin-left: 2%;
}

.bl_05_con li .txt .t_i_c p.text {
	line-height: 20px;
}

.bl_05_con li:hover .txt {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	z-index: 9;
	visibility: visible;
}

.bl_05_con li:hover .bot_txt,
.bl_05_con li:hover .right_txt {
	display: none;
}

.bl_05_con li .img img {
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
}

.bl_05_con li:hover .img img {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
}

.block_06 {
	height: 761px;
	position: relative;
}

.block_06 .mark {
	background: url(../images/dot11.png) repeat;
	opacity: 0.5;
	filter: alpha(opacity=50);
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 20000;
}

.block_06 .mask-txt {
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	color: #fff;
	cursor: default;
	text-align: center;
	cursor: pointer;
}

.block_06 .mask-txt .txt {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	top: 50%;
	height: 280px;
	margin-top: -100px;
}

.block_06 .mask-txt i.icon {
	display: block;
	width: 102px;
	height: 70px;
	background: url(../images/dot09.png) no-repeat;
	margin: 0 auto 50px;
	cursor: pointer;
	background-size: cover;
}

.block_06 .mask-txt .img {
	margin: 0 0 40px;
}

.block_06 .mask-txt h2 {
	letter-spacing: 28px;
}

.block_06 ul {
	z-index: 1000;
}

video {
	display: block;
}

.vid-lod {
	background: url(../images/bx_loader.gif) no-repeat center rgba(255, 255, 255, 0.9);
	overflow: hidden;
	text-indent: -100px;
	border-radius: 10px;
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 11;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	display: none;
}

.block_06 ul li {
	cursor: pointer;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.block_06 ul li video {
	width: 100%;
	height: 100%;
}

.flashplear {
	position: absolute !important;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
	overflow: hidden;
}

.noflash .flashplear {
	display: block;
}

.video-auto-box.noflash .mark {
	display: none;
}

.noflash .play-1 {
	display: none;
}

.video-auto-box .at-img {
	display: block;
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.video-auto-box .mark {
	z-index: 5;
}

.no-video .video-auto-box video {
	display: none;
}

.no-video .video-auto-box .at-img {
	display: block;
}

.no-video .mask-txt i.icon {
	display: none;
}

.auto-box-div {
	position: relative;
}

.auto-box-div img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.block_07 {
	background: #F7F7F7;
	padding: 40px 0 0;
}

.tabs {
	position: relative;
}

.tabs a {
	text-decoration: none;
}

.tabNav {
	text-align: center;
	margin: 0 0 50px;
}

.tabNav li {
	display: inline-block;
	zoom: 1;
	*+display: inline;
	margin: 0 2px;
	cursor: pointer;
	position: relative;
}

.tabNav li span {
	display: block;
	padding: 5px;
	width: 170px;
	font-size: 16px;
	color: #828282;
	background: #F7F7F7;
	border: 1px solid #D5D2D0;
}

.tabNav li.active span {
	color: #fff;
	background: #9F9583;
	border: 1px solid #9F9583;
}

.tabNav li.active em {
	display: block;
	width: 100%;
	height: 7px;
	background: url(../images/dot05.png) center bottom no-repeat;
}

.ie8 .bl_05_con li .txt,
.ie7 .bl_05_con li .txt {
	visibility: visible;
}

.ie8 .block_06 .mask-txt,
.ie7 .block_06 .mask-txt,
.ie8 .block_06 .mask-txt i.icon,
.ie7 .block_06 .mask-txt i.icon {
	display: block !important;
}


/*动画*/

@media only screen and (min-width: 1200px) {
	.block_02 .imglist li:hover {
		z-index: 7;
	}
	.block_03 .animatebox {
		transform: scale(0.5, 0.5) rotate(3deg);
		-webkit-transform: scale(0.5, 0.5) rotate(3deg);
		opacity: 0;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-ms-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-o-transition: 0.5s all;
	}
	.block_03 .animatebox.animate {
		transform: scale(1, 1) rotate(0deg);
		-webkit-transform: scale(1, 1) rotate(0deg);
		opacity: 1;
	}
	.block_03 .animatebox.animate:hover {
		transform: scale(1.05, 1.05);
		-webkit-transform: scale(1.05, 1.05);
		-ms-transform: scale(1.05, 1.05);
		-moz-transform: scale(1.05, 1.05);
		-o-transform: scale(1.05, 1.05);
		z-index: 5;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
	.block_04 .animatebox {
		transform: translateY(100px);
		-webkit-transform: translateY(100px);
		-ms-transform: translateY(100px);
		opacity: 0;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-ms-transition: 0.5s all;
	}
	.block_04 .animatebox.animate {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		opacity: 1;
	}
	.block_05 .animatebox {
		transform: translateY(100px);
		-webkit-transform: translateY(100px);
		-ms-transform: translateY(100px);
		opacity: 0;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-ms-transition: 0.5s all;
	}
	.block_05 .animatebox.animate {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		opacity: 1;
		transition: 0.3s all;
		-webkit-transition: 0.3s all;
		position: relative;
	}
	.block_05 li.animatebox.animate:hover {
		/*transform:scale(1.05,1.05); -webkit-transform:scale(1.05,1.05); -ms-transform:scale(1.05,1.05);box-shadow:0 0 10px rgba(0,0,0,0.5);  */
		z-index: 5;
		transition: 0.3s all;
		-webkit-transition: 0.3s all;
		position: relative;
	}
	.block_08 .animatebox {
		transform: translateY(100px);
		-webkit-transform: translateY(100px);
		-ms-transform: translateY(100px);
		opacity: 0;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-ms-transition: 0.5s all;
	}
	.block_08 .animatebox.animate {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		opacity: 1;
	}
}

.font-18 {
	font-size: 16px;
}

.font-20 {
	font-size: 18px;
}

.font-24 {
	font-size: 22px;
}

.font-30 {
	font-size: 26px;
}

.font-36 {
	font-size: 32px;
}

.font-44 {
	font-size: 40px;
}

.font-52 {
	font-size: 46px;
}

.font-72 {
	font-size: 60px;
}


}
@media only screen and (max-width:1450px) {
	.font-18,
	.tel,
	.tab_tit li span,
	.tabNav li span,
	.new_imglist li .bot_txt,
	.foot_top li h2 a,
	.foot_bot .link dt {
		font-size: 14px;
	}
	
	.font-20 {
		font-size: 16px;
	}
	
	.font-24 {
		font-size: 20px;
	}
	
	.font-30 {
		font-size: 24px;
	}
	
	.font-36 {
		font-size: 28px;
	}
	
	.font-44 {
		font-size: 36px;
	}
	
	.font-52 {
		font-size: 36px;
	}
	
	.font-72 {
		font-size: 50px;
	}
	
	.block_06 {
		height: 577px;
	}
	
	.block_03 ul,
	.block_08 ul {
		margin: 0;
	}
	
	.imglist li .txt h2 {
		margin: 8% 0;
	}
	
	.bl_04_con {
		margin: 0 7%;
	}
	
	.footer {
		padding: 40px 0;
	}
	
	.bl_05_con {
		margin: 0 0 40px;
	}
	
	.tab_tit,
	.tabNav {
		margin: 0 0 20px;
	}
	
	.ind_tit {
		padding: 40px 0 20px;
	}
	
	.block_03,
	.new_txtlist li {
		padding: 0 0 40px;
	}
	
	.block_07 {
		padding: 40px 0 0;
	}
	
	.block_08 {
		height: auto;
		padding: 0 0 60px;
	}
	
	.viewmore {
		padding: 40px 0 0;
		font-size: 14px;
	}
	
	.block_02 .viewmore,
	.new_txtlist+.viewmore,
	.new_imglist+.viewmore {
		padding: 40px 0;
	}
	
	.foot_top li dl.book dd span.an {
		width: 40%;
	}
	
	.foot_bot .link dt {
		width: 60px;
	}
	
	.foot_bot .link dd {
		padding-left: 65px;
	}
}
@media only screen and (max-width:1399px) {
	.block_06 {
		height: 547px;
	}
	
	.block_03 li.an {
		width: 24.9%;
	}
	
	.foot_top li dl.book dd span.an {
		width: 37%;
	}
}
@media only screen and (max-width:1365px) {
	.wrap,
	.index .header .wrap {
		width: 1200px;
	}
	
	.block_06 {
		height: 513px;
	}
	
	.foot_top li dl.book dd span.an {
		width: 36%;
	}
}
@media only screen and (max-width:1279px) {
	.index .header .wrap {
		width: auto;
		/* padding:0 10px;*/
	}
	
	.block_06 {
		height: 410px;
	}
	
	.logo {
		width: 100px;
		height: auto;
		margin-right: 2%;
	}
	
	.nav {
		margin-left: 2%;
		width: 48%;
	}
	
	.nav li {
		padding: 0 2%;
	}
	
	.bl_04_con {
		margin: 0;
	}
	
	.block_04,
	.footer {
		padding: 30px 0;
	}
	
	.bl_05_con {
		margin: 0 0 30px;
	}
	
	.tab_tit,
	.tabNav {
		margin: 0 0 15px;
	}
	
	.ind_tit {
		padding: 30px 0 15px;
	}
	
	.block_03,
	.new_txtlist li {
		padding: 0 0 30px;
	}
	
	.block_07 {
		padding: 30px 0 0;
	}
	
	.imglist li .txt h2 {
		margin: 6% 0;
	}
	
	.imglist li .txt .c {
		margin: 0 0 1em;
	}
	
	.more {
		width: 24px;
		height: 24px;
	}
	
	.bl_05_con li .bot_txt {
		padding: 5px 0;
	}
	
	.bl_05_con li .right_txt {
		width: 80px;
		height: 80px;
	}
	
	.bl_05_con li .txt .t_i_c {
		height: 3em;
	}
	
	.block_06 .mask-txt i.icon {
		width: 80px;
		height: 55px;
	}
	
	.block_06 .mask-txt .img {
		margin: 0 0 20px;
	}
	
	.block_06 .mask-txt .img img {
		width: 360px;
	}
	
	.new_txtlist li .txt .c {
		height: 1.5em;
		margin: 0 0 10px;
	}
	
	.new_imglist {
		margin: 0;
	}
	
	.new_imglist li .inner {
		margin: 0 10px;
	}
	
	.block_04 {
		background-attachment: scroll;
	}
	
	.banner li .txt {
		bottom: 20%;
	}
	
	.banner li .txt a.view {
		width: 100px;
		background-position: 80px center;
	}
	
	.new_txtlist,
	.new_imglist {
		height: auto;
	}
}
.phone_foot_ul {
	display: none;
}
@media only screen and (max-width:1024px) {
	.block_03 li .txt {
		opacity: 1;
		height: 40px;
		bottom: 0;
		top: auto;
	}
	
	.block_03 li .txt h2 {
		opacity: 1;
		line-height: 40px;
		height: 40px;
		position: static;
		margin: 0;
	}
	
	.block_03 .wid_all {
		display: block;
	}
	
	.wid_all,
	.dis_w_h {
		display: none;
	}
	
	.bl_05_con li:hover .bot_txt,
	.bl_05_con li:hover .right_txt {
		display: block;
	}
}
@media only screen and (max-width:1023px) {
	body {
		font-size: 12px;
	}
	
	.phone {
		display: block;
		padding: 10px 0 0;
		text-align: center;
		font-size: 16px;
		line-height: 25px;
		color: #D7000F !important;
	}
	
	.phone img {
		display: inline-block;
		padding-right: 5px;
		vertical-align: middle;
	}
	/*手机导航样式 Start*/
	
	.menu_h {
		display: block;
		background: none;
		transition: 0.5s all;
		z-index: 1000;
		-webkit-transition: 0.5s all;
		border: none;
		width: 30px;
		height: 20px;
		padding: 0;
		outline: none;
		/*position:relative;*/
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -10px;
	}
	
	.menu_h::before,
	.menu_h::after,
	.menu_h span {
		background: #DB0E1B;
		border-radius: 3px;
	}
	
	.menu_h::before,
	.menu_h::after {
		content: '';
		position: absolute;
		height: 3px;
		width: 100%;
		left: 0;
		top: 50%;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transition: -webkit-transform 0.25s;
		transition: transform 0.25s;
		border-radius: 3px;
	}
	
	.menu_h span {
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		top: 50%;
		margin-top: 0;
		overflow: hidden;
		text-indent: 200%;
		-webkit-transition: opacity 0.25s;
		transition: opacity 0.25s;
	}
	
	.menu_h::before {
		-webkit-transform: translate3d(0, -8px, 0);
		transform: translate3d(0, -8px, 0);
	}
	
	.menu_h::after {
		-webkit-transform: translate3d(0, 8px, 0);
		transform: translate3d(0, 8px, 0);
	}
	
	.menu-open .menu_h {
		right: 45%;
	}
	
	.menu-open .menu_h span {
		opacity: 0;
		background: #fff;
	}
	
	.menu-open .menu_h::before {
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		transform: rotate3d(0, 0, 1, 45deg);
		background: #fff;
	}
	
	.menu-open .menu_h::after {
		-webkit-transform: rotate3d(0, 0, 1, -45deg);
		transform: rotate3d(0, 0, 1, -45deg);
		background: #fff;
	}
	
	.ph-mask {
		display: none;
	}
	
	.menu-open .ph-mask {
		display: block;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.5;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 10;
	}
	
	.nav {
		float: none;
		position: fixed;
		z-index: 11;
		left: 100%;
		top: 0;
		width: 35%;
		bottom: 0;
		margin: 0;
		background: #fff;
		/*overflow:hidden;*/
		overflow: auto;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
	}
	
	.nav ul {
		padding: 10px 20px;
	}
	
	.nav li {
		float: none;
		width: 100%;
		text-align: center;
		padding: 10px 0;
		border-bottom: 1px solid #ccc;
	}
	
	.nav li:last-child {
		border-bottom: none;
	}
	
	.nav li a {
		display: block;
		color: #333 !important;
		font-size: 15px;
	}
	
	.nav li.on a,
	.nav li:hover a {
		color: #fff;
	}
	
	.menu-open .nav {
		left: 55%;
		width: 45%;
	}
	/*手机导航样式 End*/
	
	.tel {
		position: absolute;
		left: 40%;
		background: #DB0E1B;
		color: #fff;
		padding: 0 10px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	
	.sear {
		margin-right: 60px;
		width: 30%;
	}
	
	.font-20 {
		font-size: 14px;
	}
	
	.font-24 {
		font-size: 18px;
	}
	
	.font-30 {
		font-size: 20px;
	}
	
	.font-36 {
		font-size: 24px;
	}
	
	.font-44 {
		font-size: 30px;
	}
	
	.font-52 {
		font-size: 34px;
	}
	
	.font-72 {
		font-size: 40px;
	}
	
	.block_06 {
		height: 308px;
	}
	
	.block_01 li span {
		width: 48px;
		height: 32px;
		margin: -16px 0 0 -24px
	}
	
	.new_imglist li .inner {
		margin: 0 5px;
	}
	
	.imglist li,
	.bl_05_con li {
		width: 25%;
	}
	
	.bl_04_con li {
		width: 25%;
	}
	
	.block_03 ul {
		position: relative;
		padding-top: 60px;
	}
	
	.block_03 li {
		width: 20%;
	}
	
	.block_03 li.an {
		width: 100%;
		height: auto;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
		background: #9F9583;
	}
	
	.block_03 li.an .inner {
		height: auto;
	}
	
	.block_03 li.an .con span {
		line-height: 60px;
		padding: 0;
		text-align: center;
	}
	
	.block_03 li.an .con {
		position: static;
		width: auto;
		padding: 0 10px;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		transform: none;
	}
	
	.block_03 li.an .img {
		display: none;
	}
	
	.tab_tit li span,
	.tabNav li span {
		width: 120px;
	}
	
	.new_imglist li .bot_txt {
		height: 30px;
		line-height: 30px;
	}
	
	.new_imglist li .bot_txt h2 {
		width: 90%;
	}
	
	.new_imglist li .bot_txt span {
		display: none;
	}
	
	.block_08 li span {
		width: 90px;
		height: 90px;
		line-height: 90px;
	}
	
	.block_08 li span img {
		width: 70%;
	}
	
	.block_06 .mask-txt i.icon {
		width: 60px;
		height: 41px;
	}
	
	.block_06 .mask-txt .img img {
		width: 300px;
	}
	
	.new_txtlist li .txt .c {
		height: 4.5em;
	}
	
	.foot_top li.f_4 {
		width: 22%;
	}
	
	.foot_top li dl.book dd span.an {
		width: 28%;
	}
	/*.header{ padding:5px 0 10px; height:auto; position:fixed; top:0; left:0; width:100%;box-shadow:0 0 5px #bbb;background:rgba(243, 241, 239, 0.8);filter:Alpha(opacity=80);}
.menu_h{ margin-top:-6px;}*/
	/*.imglist li:hover,*/
	
	.block_03 li:hover,
	.bl_05_con li:hover {
		transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
	}
	
	.bl_05_con li .inner {
		/*margin:8px;*/
	}
	
	.d_txt {
		display: none;
	}
	
	.bl_05_con li .right_txt h2 {
		padding-top: 10px;
	}
	
	.bl_05_con li .right_txt {
		height: auto;
	}
}
@media only screen and (max-width:767px) {
	.bl_05_con li:hover .bot_txt,
	.bl_05_con li:hover .right_txt {
		display: block;
	}
	
	.wraper>.main>.tran_scale {
		display: none;
	}
	
	.new_txtlist.new_imglist {
		height: auto;
	}
	
	.block_02 .viewmore,
	.new_txtlist+.viewmore,
	.new_imglist+.viewmore {
		padding: 20px 0;
	}
	
	.main {
		padding-top: 60px;
	}
	/*模拟select*/
	
	.returnTop {
		right: 5px;
		top: 50%;
	}
	
	.select-body-box {
		z-index: 100000;
		position: fixed;
		top: 40px !important;
		left: 10% !important;
		width: 80% !important;
		max-height: 80%;
	}
	
	.selectmask {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.5;
		z-index: 2;
		display: block;
	}
	/**/
	
	.font-24 {
		font-size: 16px;
	}
	
	.font-30 {
		font-size: 18px;
	}
	
	.font-36 {
		font-size: 20px;
	}
	
	.font-44 {
		font-size: 24px;
	}
	
	.font-52 {
		font-size: 28px;
	}
	
	.font-72 {
		font-size: 32px;
	}
	
	.banner li .txt {
		bottom: 10%;
		left: 53%;
	}
	
	.banner li .txt h3 {
		display: none;
	}
	
	.banner li .txt a.view {
		width: 80px;
		text-indent: 10px;
		height: 20px;
		line-height: 20px;
		background-position: 70px center;
	}
	
	.banner .bx-wrapper .bx-pager {
		bottom: 0;
	}
	
	.phone_foot_ul {
		display: block;
		padding: 10px 0;
		border-top: 2px solid rgba(255, 255, 255, 0.5);
	}
	
	.phone_foot_ul dl {
		text-align: center;
	}
	
	.phone_foot_ul dt {
		font-weight: bold;
		padding: 10px;
		text-align: left;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
	
	.phone_foot_ul dt a {
		display: block;
		color: #333;
		font-size: 15px;
	}
	
	.phone_foot_ul dd {
		padding: 10px 0;
		margin: 0 20px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
	
	.phone_foot_ul dd a {
		display: block;
		font-size: 14px;
		color: #333;
	}
	
	.phone_foot_ul dd:last-child {
		border-bottom: none;
	}
	
	.menu_h {
		margin-top: -8px;
	}
	
	.header {
		height: auto;
		padding: 5px 0 10px;
	}
	
	.block_03 .wid_all {
		display: block;
	}
	
	.sear {
		width: 30px;
		width: 125px;
		background: #fff;
		margin-right: 40px;
		/* position:absolute; top:10px; right:10px;  margin:0;*/
	}
	
	.sear.open {}
	
	.sear .txt {
		opacity: 0;
		width: 0;
		display: none;
	}
	
	.sear .txt {
		opacity: 1;
		width: 83px;
		display: block;
	}
	
	.sear .button {
		width: 30px;
	}
	
	.tel_bot {
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 35px;
		line-height: 35px;
		color: #fff;
		text-align: center;
		background: #333;
		z-index: 100;
	}
	
	.tel_bot a {
		height: 20px;
		line-height: 20px;
		margin: 5px 10px;
		color: #fff!important;
		display: inline-block;
	}
	
	.tel_bot a img {
		display: inline-block;
		vertical-align: middle;
		padding-right: 3px;
		width: 13px;
	}
	
	.tel_bot i {
		/*display:inline-block; width:15px; height:20px; margin-right:5px; background:url(../images/phone-icon.png) no-repeat; background-size:cover;*/
	}
	
	.t_b01_box,
	.t_b02_box {
		position: fixed;
		width: 100%;
		left: 0;
		bottom: -150px;
		background: rgba(219, 14, 27, 1);
		transition: 0.3s all;
		-webkit-transition: 0.3s all;
		z-index: 100;
	}
	
	.t_b02_box.open {
		bottom: 30px;
		color: #fff;
		text-align: center;
		padding: 20px 5%;
		width: 90%;
		display: block;
	}
	
	.t_b02_box.open h2 {
		font-size: 14px;
		margin: 0 0 10px;
	}
	
	.t_b02_box.open dl.book {
		width: 100%;
	}
	
	.t_b02_box.open dl.book dd {
		float: left;
		width: 100%;
		margin: 0 0 10px;
	}
	
	.t_b02_box.open dl.book dd span {
		float: left;
		width: 98%;
		height: 26px;
		line-height: 26px;
		border: 1px solid #D9D9D9;
		background: #fff;
	}
	
	.t_b02_box.open dl.book dd span input.txt {
		padding: 0 3%;
		width: 94%;
		font-size: 12px;
		background: none;
		border: none;
		height: 26px;
		line-height: 26px;
	}
	
	.t_b02_box.open dl.book dd span.an {
		width: 42%;
		margin-right: 5px;
	}
	
	.t_b02_box.open dl.book dd span.an input.txt {
		padding: 0 10%;
		width: 80%;
	}
	
	.t_b02_box.open dl.book dd.last {
		margin: 5px 0 0;
	}
	
	.t_b02_box.open dl.book dd.last .bon {
		display: block;
		width: 90px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		color: #fff;
		background: #9F9583;
		border: none;
	}
	
	.t_b02_box.open dl.book dd.last .bon:hover {
		background: #d7000f;
	}
	
	.phone_foot_ul dd {
		border-bottom: none;
	}
	
	.nav li:last-child {
		border-bottom: 1px solid #ccc;
	}
	
	.right_menu {
		display: none;
	}
	
	.block_01 li {
		width: 50%;
	}
	
	.block_04,
	.footer {
		padding: 20px 0;
	}
	
	.new_imglist li {
		margin: 0;
	}
	
	.new_txtlist li .txt h2 {
		margin-bottom: 5px;
	}
	
	.tab_tit,
	.tabNav {
		margin: 0 0 10px;
	}
	
	.ind_tit {
		padding: 20px 0 10px;
	}
	
	.bl_05_con {
		margin: 0 0 40px;
	}
	
	.block_03,
	.new_txtlist li {
		padding: 0 0 20px;
	}
	
	.block_07 {
		padding: 20px 0 0;
	}
	
	.ind_tit em {
		height: 14px;
	}
	
	.imglist li,
	.bl_05_con li {
		width: 50%;
	}
	
	.imglist li .txt .c {
		height: 1.5em;
		margin: 0 0 0.5em;
	}
	
	.more {
		width: 20px;
		height: 20px;
	}
	
	.block_03 li {
		width: 33.3%;
	}
	
	.bl_04_con li {
		width: 33.3%;
	}
	
	.bl_04_con li:nth-child(n+7) {
		display: none;
	}
	
	.bl_04_con li .inner {
		margin: 5px;
	}
	
	.bl_05_con li,
	.bl_05_con,
	.new_txtlist li,
	.new_txtlist li .inner,
	.new_imglist li {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.block_08 {
		padding: 0 0 40px;
	}
	
	.block_08 li span {
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	
	.block_08 .ind_tit {
		padding: 40px 0 20px;
	}
	
	.block_08 li h2 {
		margin: 10px 0 0;
	}
	
	.block_08 li .c {
		display: none;
	}
	
	.block_06 {
		height: 240px;
	}
	
	.block_06 .mask-txt i.icon {
		width: 40px;
		height: 27px;
		margin: 0 auto 20px;
	}
	
	.block_06 .mask-txt .img {
		margin: 0 0 10px;
	}
	
	.block_06 .mask-txt .img img {
		width: 150px;
	}
	
	.block_06 .mask-txt .txt {
		height: 100px;
		margin-top: -50px;
	}
	
	.block_06 .mask-txt h2 {
		letter-spacing: 0;
	}
	
	.foot_top li.f_1,
	.foot_top li.f_2 {
		display: none;
	}
	
	.foot_top li {
		width: 100%;
		margin: 0 0 20px;
	}
	
	.foot_top li.f_4 {
		width: 60%;
		margin-left: 0;
		margin-bottom: 0;
	}
	
	.foot_top li.f_5 {
		width: 30%;
		margin-bottom: 0;
	}
	
	.foot_top li .inner {
		height: auto;
	}
	
	.foot_top li .c ul {
		padding: 0;
	}
	
	.foot_bot .link {
		display: none;
	}
	
	.foot_bot .link dd {
		padding: 30px 0 0;
	}
	
	.foot_bot .link dd a {
		margin: 0 10px 0 0;
	}
	
	.foot_bot .cop {
		margin-bottom: 20px;
	}
	
	.foot_top li dl.book {
		padding: 15px 0 0;
	}
	
	.foot_top li.f_5 .img {
		margin: 15px 0 0;
	}
	
	.foot_top li dl.book dd span {
		width: 99.5%;
	}
	
	.new_txtlist li .txt .c {
		height: 1.5em;
	}
	
	.returnTop {
		width: 26px;
		height: 26px;
		background-size: cover;
	}
	
	.banner .bx-wrapper .bx-prev {
		width: 16px;
		height: 30px;
		margin-top: -15px;
		left: 10px;
	}
	
	.banner .bx-wrapper .bx-next {
		width: 16px;
		height: 30px;
		margin-top: -15px;
		right: 10px;
	}
	
	.foot_bot .cop span a {
		display: inline-block;
		margin: 0;
	}
	
	#tab-2 .new_imglist li:nth-child(n+3),
	#tab-3 .new_imglist li:nth-child(n+3),
	#tab-4 .new_imglist li:nth-child(n+3) {
		display: none;
	}
	
	#tab-2 .new_imglist li,
	#tab-3 .new_imglist li,
	#tab-4 .new_imglist li {
		width: 47%;
		margin: 10px 1.4% 10px;
	}
	
	.block_01 li:nth-child(n+3) {
		display: none;
	}
	
	.bl_04_con li:hover .inner {
		border: 3px solid rgba(255, 255, 255, 0.5);
		background: none;
	}
	
	.bl_04_con li:hover .inner a {
		color: #fff;
	}
	
	.tel {
		font-size: 12px;
		left: 43%;
		top: 7px;
	}
	
	.bl_05_con_ld.bl_05_con li {
		width: 50%;
	}
	
	.bl_05_con_ld.bl_05_con li:nth-child(n+7) {
		display: none;
	}
	
	.bl_05_con li .inner {
		margin: 5px;
	}
	
	.bl_05_con li .right_txt {
		height: 60px;
	}
	
	.block_02 .imglist li:nth-child(n+7) {
		display: none;
	}
}
@media only screen and (max-width:500px) {
	.tel {
		display: none;
	}
	
	.bl_05_con li .right_txt h2 {
		padding-top: 5px;
	}
	
	.bl_05_con li .right_txt {
		height: 45px;
	}
	
	.bl_05_con li .bot_txt {
		padding: 0;
	}
	
	.bl_05_con li .bot_txt p {
		padding: 0 5px;
		font-size: 12px;
	}
	
	.bl_05_con li .inner {
		margin: 3px;
	}
}
@media only screen and (max-width:479px) {
	#tab-2 .new_imglist li,
	#tab-3 .new_imglist li,
	#tab-4 .new_imglist li {
		width: 100%;
		margin: 0 0 20px;
	}
	
	#tab-2 .new_imglist li:nth-child(n+2),
	#tab-3 .new_imglist li:nth-child(n+2),
	#tab-4 .new_imglist li:nth-child(n+2),
	#tab-1 .new_imglist li:nth-child(n+3) {
		display: none;
	}
}
@media only screen and (max-width:414px) {
	.main {
		padding-top: 42px;
	}
	
	.block_07 .tab_tit li span,
	.tabNav li span {
		width: 78px;
	}
	
	.block_06 {
		height: 166px;
	}
	
	.font-24 {
		font-size: 16px;
	}
	
	.font-30 {
		font-size: 16px;
	}
	
	.font-36 {
		font-size: 18px;
	}
	
	.font-44 {
		font-size: 20px;
	}
	
	.font-52 {
		font-size: 24px;
	}
	
	.font-72 {
		font-size: 28px;
	}
	
	.bl_04_con li {
		width: 50%;
	}
	
	.bl_04_con li:nth-child(n+5) {
		display: none;
	}
}
@media only screen and (max-width:413px) {
	.block_03 li.an .con span {
		line-height: 20px;
		padding: 10px 0;
		text-align: center;
	}
	
	.block_03 li.an .con {
		height: 60px;
	}
	
	.address_sel {
		margin: 10px 0 0;
	}
	
	.sear {
		margin-top: 10px;
	}
	
	.menu_h {
		margin-top: -12px;
	}
	
	.block_07 .tab_tit li span,
	.tabNav li span {
		width: 70px;
	}
}
@media only screen and (max-width:374px) {
	.block_07 .tab_tit li span,
	.tabNav li span {
		width: 56px;
	}
	
	.foot_bot .cop span {
		display: block;
		margin-left: 0;
	}
}
@media only screen and (max-width:359px) {
	.address_sel {
		margin: 5px 0 0;
	}
	
	.sear {
		margin-top: 5px;
	}
	
	.menu_h {
		margin-top: -13px;
	}
	
	.sear {
		width: 100px;
	}
	
	.sear .txt {
		width: 58px;
	}
}
.ie7 .tabNav li em {
	display: none;
}
.ie7 .case_1 dl dd.of.cf .fl a.on {
	margin-top: 13px;
}
.ie7 .case_2 a#sortTime,
.ie7 .case_2 a#sortHits {
	position: relative;
	top: -6px;
}