@charset "utf-8";
.fl {
	float: left;
	display: inline
}

.fr {
	float: right
}

.Column {
	width: 1190px;
	height: auto;
	margin: 0 auto
}

.iNewsBox {
	padding-bottom: 20px;
	border-top: #FFF 1px solid
}

.iNewsBox .ijzBox {
	background: #FFF
}

.iNewsBox .ijzzsBox {
	background: #FFF
}

.nr_title {
	margin-top: 60px;
	height: 80px
}

.title_1 {
	width: 100%;
	height: 70px;
	background: url(../images/title_1.png) center 0 no-repeat;
	float: left
}

.nr_title h2 {
	font-size: 24px;
	text-align: center;
	color: #868686;
	display: block;
	width: 720px;
	margin: 15px auto;
	padding-left: 30px;
	font-weight: 500
}

.nr_title p {
	width: 100%;
	margin: 25px 0;
	text-align: center;
	font-size: 18px;
	color: #787878;
	letter-spacing: 4px
}

.news a {
	right: 0;
	height: 20px;
	float: right;
	color: #999
}

.news a:hover {
	color: #E70
}

.zhongbu li {
	float: left;
	margin-left: 7px;
	margin-top: -20px
}

.zhongbu li span {
	color: #999
}

.zhongbu li a {
	color: #999
}

.zhongbu li a:hover {
	color: #E70
}

.zhongbu ul {
	margin-left: 634px
}

.zhongbu {
	height: 10px
}

.iNewsBox .beijr {
	width: 770px;
	margin-right: 20px
}

.iNewsBox .beijl {
	width: 400px
}

.iNewsBox {}

.iNewsBox .ibTitle {}

.iNewsBox .iNews_tt01 h3 {
	background-position: 0 -540px
}

.iNewsBox .iNews_tt02 h3 {
	background-position: 0 -135px
}

.iNewsBox .ijzzsBox {
	width: 740px;
	height: 380px;
	padding: 10px 15px;
	overflow: hidden;
	box-shadow: 0px 0px 10px #ccc;
}

.iNewsBox .ijzzsBox .item1 {
	width: 360px;
	padding-right: 10px;
	height: 378px
}

.iNewsBox .ijzzsBox .item2 {
	padding-right: 0px;
	width: 360px
}

.iNewsBox .ijzzsBox .item2 .art {
	height: 111px;
	margin-bottom: 14px;
	overflow: hidden
}

.iNewsBox .ijzzsBox .item2 .art .desc {
	height: 69px
}

.iNewsBox .ijzzsBox .item2 .txt {
	width: 205px
}

.iNewsBox .ijzzsBox .item1 .t {
	padding: 5px 0 10px 0;
	border-bottom: 1px solid #d1d1d1;
	overflow: hidden;
	height: 15px
}

.iNewsBox .ijzzsBox .item1 .img {
	padding-bottom: 10px
}

.iNewsBox .ijzzsBox .item1 .t a {
	font-size: 15px;
	color: #4d463e;
	font-weight: bold
}

.iNewsBox .ijzzsBox .item1 .t a:hover {
	text-decoration: underline
}

.iNewsBox .ijzzsBox .item1 .desc {
	height: 75px;
	color: #777;
	line-height: 23px;
	padding: 5px 0px 0 0px;
	font-size: 13px;
	margin-bottom: 6px;
	overflow: hidden
}

.iNewsBox .ijzzsBox .item1 .url {
	margin-top: -32px;
	line-height: 24px
}

.iNewsBox .ijzzsBox .item1 .url a {
	background: #FFF;
	color: #ea5514;
}

.iNewsBox .ijzzsBox .item1 .url a:hover {
	color: #ea5514
}

.iNewsBox .ijzBox {
	width: 370px;
	height: 378px;
	padding: 10px 15px;
	overflow: hidden;
	box-shadow: 0px 0px 10px #ccc;
}

.iNewsBox .ijzBox ul li {
	border-bottom: 1px solid #d1d1d1;
	color: #8f8f8f;
	font-size: 14px;
	line-height: 35px
}

.iNewsBox .ijzBox ul li .img {
	display: none
}

.iNewsBox .ijzBox ul li .img img {
	width: 370px;
	height: 190px
}

.iNewsBox .ijzBox ul li .txt {
	cursor: pointer
}

.iNewsBox .ijzBox ul li .txt a {
	color: #4D463E;
	height: 31px;
	overflow: hidden;
	width: 439px;
	display: block;
	font-weight: bold;
	font-size: 15px
}

.iNewsBox .zhongbu {
	margin: 0px 66px 0px auto;
	float: right
}

.iNewsBox .ar {
	text-align: right
}

.iNewsBox .gsinb {
	font-family: "微软雅黑";
	font-size: 15px;
	color: #4d463e;
	font-weight: bold;
	height: 35px;
	line-height: 33px;
	overflow: hidden
}

.iNewsBox .cc {
	margin-top: -31px;
	margin-right: 17px
}

.iNewsBox .cc a {
	color: #ea5514
}

.iNewsBox .gsinbw {
	overflow: hidden;
	color: #777;
	line-height: 27px;
	padding: 5px 5px 0 5px;
	font-size: 13px
}


/*-----团装风暴------*/

.tzfb {
	width: 100%;
	margin: 60px 0;
	/* background:#E9E9E9;*/
	margin-bottom: 0px;
	padding-bottom: 40px;
	margin-top: 20px;
}

.col {
	width: 1200px;
	margin: auto;
}

.iTitle {
	height: 57px;
	line-height: 57px;
	/*border-bottom:1px solid #c2c2c2;*/
	color: #868686;
	font-size: 24px;
	font-weight: bold;
}

.iTitle h1 {
	padding-left: 10px;
	width: 570px;
}

.iTitle .izjgdtitle {
	width: 570px;
	padding-left: 10px;
}

.iTitle a {
	color: #868686;
	font-size: 12px;
	padding-right: 20px;
}

.iTitle a:hover {
	color: #d42021;
	text-decoration: underline;
}

.tzzjBox {}

.tzzjBox .itzbox {
	width: 570px;
	padding: 12px;
	background-color: #fff;
	height: 350px;
	box-shadow: 0px 0px 10px #ccc;
}

.tzzjBox .itzbox .txt {
	width: 180px;
}

.tzzjBox .itzbox .txt h1 {
	font-size: 16px;
	color: #d42021;
	padding-bottom: 10px;
	padding-top: 10px;
}

.tzzjBox .itzbox .txt p {
	line-height: 24px;
}

.tzzjBox .itzbox .txt p a {
	color: #000;
	overflow: hidden;
}

.tzzjBox .itzbox .txt p a:hover {
	text-decoration: underline;
	color: #d42021;
}

.tzzjBox .itzbox .tzline {
	border-bottom: 1px dashed #d5d5d5;
	margin: 10px 0;
}

.tzzjBox .itzbox .btn {
	display: block;
	width: 118px;
	height: 29px;
	line-height: 29px;
	margin: auto;
	background-color: #d42021;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.tzzjBox .itzbox .slidesjs-container {
	height: 350px;
	width: 380px;
}

.tzzjBox .itzbox .slidesjs-pagination {
	display: block;
	list-style: none;
	position: absolute;
	right: 1%;
	top: 320px;
	z-index: 9900;
	margin: 0;
	padding: 5px 15px 5px 0;
}

.tzzjBox .itzbox .slidesjs-pagination li {
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 10px;
}

.tzzjBox .itzbox .slidesjs-pagination li a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 20px;
	color: #fff;
	margin: 0;
	padding: 0;
	text-decoration: none;
	border-radius: 50%;
	background: #444;
}

.tzzjBox .itzbox .slidesjs-pagination li .active {
	background: #d42021;
}

.tzzjBox .izjgdBox {
	width: 570px;
	padding: 12px;
	background-color: #fff;
	height: 350px;
	box-shadow: 0px 0px 10px #ccc;
}

.tzzjBox .izjgdBox .infoBox {
	width: 260px;
	padding-right: 10px;
}

.tzzjBox .izjgdBox .infoBox h1 {
	font-size: 14px;
	color: #d42021;
	font-weight: bold;
	line-height: 20px;
	margin: 5px 0;
}

.tzzjBox .izjgdBox .infoBox p {
	line-height: 22px;
}

.tzzjBox .izjgdBox .infoBox p span {
	display: inline-block;
	width: 108px;
	color: #272727;
	line-height: 20px;
	overflow: hidden;
}

.tzzjBox .izjgdBox .infoBox p .abtn {
	color: #d42021;
}

.tzzjBox .izjgdBox .listBox {
	width: 273px;
	height: 328px;
	border: 1px solid #EBEAEA;
	padding: 10px 5px;
}

.tzzjBox .izjgdBox .listBox h1 {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
}

.tzzjBox .izjgdBox .listBox p {
	font-size: 12px;
	border-top: 1px dashed #9a9a9a;
	line-height: 29px;
	*line-height: 29px;
	padding-left: 20px;
	height: 29px;
	overflow: hidden;
}

.tzzjBox .izjgdBox .listBox p a {
	color: #535353;
}

.tzzjBox .izjgdBox .listBox p a:hover {
	color: #d42021;
}

.tzzjBox .izjgdBox .listBox span {
	width: 110px;
	display: inline-block;
	overflow: hidden;
}

.tzzjBox .izjgdBox .listBox .span1 {
	width: 45px;
}