.index{
     background: #f6f6f6;
 }
body{
    font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    color: #666;
}
header{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}
.headermid{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    /*overflow: hidden;*/
}
.citybox{
    width: 257px;
    height: 28px;
    float: left;
    /*background: red;*/
    margin-top: 1px;
    /*overflow: hidden;*/
}
.city{
    float: right;
    line-height: 28px;
    padding-left: 4px;
    padding-right: 7px;
}
.city img{
    width: 100%;
    height: 100%;
}
.dt{
    width: 12px;
    height: 14px;
    float: right;
    margin-top: 3px;
}
.fr{
    float: right;
    height: 30px;
}
.fr li{
    float: left;
    line-height: 30px;
}
.fore2-1{
    position: relative;
}
.login{
    margin-right: 8px;
}
.link-login {
    font-family: verdana\,simsun;
}
.headermid a {
    color: #999;
}
.headermid a:hover {
    color: #C82B30;
}
.login .link-regist {
    color: #f10215;
}
.fr li.spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.myorder{
    padding-left: 7px;
    padding-right: 7px;
}
.mobile_static {
    position: absolute;
    left: 3px;
    width: 66px;
    height: 66px;
    border: 1px solid #cfcfcf;
}
.mobile_pop:before, .mobile_static:before {
    content: '';
    position: absolute;
    display: block;
    top: -9px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4 #e4e4e4 #f6f6f6;
}
.mobile_static_qrcode {
    margin: 4px auto;
    width: 60px;
    height: 60px;
    background: #f6f6f6 url(../img/mobile_qrcode.jpg) 50% no-repeat;
}
nav{
    width: 100%;
    height: 140px;
}
nav .navmid{
    margin: auto;
    width: 1190px;
    position: relative;
    z-index: 11;
    height: 140px;
}
#logo, .logo_tit {
    position: absolute;
}
#logo {
    z-index: 2;
    left: 0;
    top: -31px;
    width: 190px;
    height: 170px;
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    background-color: #fff;
}
.logo{
    overflow: hidden;
    display: block;
    width: 190px;
    height: 170px;
    background-image: url(../img/logo.v2.png);
    background-repeat: no-repeat;
    text-indent: -999px;
}
.search{
    position: relative;
    z-index: 1;
    height: 60px;
}
.search .form {
    position: absolute;
    left: 320px;
    top: 25px;
    width: 550px;
    height: 35px;
}
.search .text {
    left: 0;
    padding: 4px;
    width: 500px;
    height: 35px;
    border: 1px solid #f10215;
    line-height: 25px;
    font-size: 14px;
    color: #989898;
}
.search .button {
    right: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-image: url(../img/2017-04-22_135007.png);
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.search .button, .search .text {
    position: absolute;
    top: 0;
}
button, input {
    font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
#settleup {
    position: absolute;
    right: 99px;
    top: 25px;
}
.dorpdown {
    position: relative;
    z-index: 21;
}
#settleup .cw-icon {
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
}
.cw-icon {
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}
.ci-lift{
    width: 24px;
    height: 33px;
    float: left;
    margin-left: 50px;
    z-index: 1;
    background-image: url(../img/2017-04-22_135739.png);
}
#settleup .ci-count {
    position: absolute;
    top: 5px;
    left: 140px;
    right: auto;
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f10215;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    font-style: normal;
}
#settleup .cw-icon a {
    color: #f10214;
    float: left;
}
#hotwords {
    overflow: hidden;
    position: absolute;
    left: 320px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}
#hotwords a {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    color: #999;
}
#hotwords .style-red{
    color: #f10215;
}
#navitems {
    overflow: hidden;
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px;
}
#navitems ul{
    float: left;
}
#navitems li{
    float: left;
    margin-left: 30px;
}
#navitems a {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #555;
}
#navitems .spacer {
    overflow: hidden;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: -10px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    float: left;
}
.middlebox{
    z-index: 9;
    margin-bottom: 10px;
}
.middle{
    width: 1190px;
    z-index: 1;
    height: 480px;
    background-color: #f6f6f6;
    margin: 0 auto;
    position: relative;
}
.fs_col1, .fs_col2 {
    float: left;
    height: 100%;
}
.fs_col1 {
    width: 190px;
    margin-right: 10px;
}
.cate {
    position: relative;
    z-index: 2;
    height: 100%;
}
.cate_menu {
    overflow: hidden;
    padding: 15px 0;
    height: 480px;
    background-color: #6e6568;
    color: #fff;
}
.cate_menu_item {
    overflow: hidden;
    padding-left: 12px;
    height: 30px;
    line-height: 30px;
    font-size: 0;
}
.cate_menu_lk {
    font-size: 14px;
    color: #fff;
}
.cate_menu_line {
    padding: 0 4px;
    font-size: 12px;
}
.middlebox a:hover {
    color: #C82B30;
}
.fs_col2 {
    width: 790px;
}
.slider_main {
    position: relative;
    margin-bottom: 10px;
    height: 340px;
}
.slider_item, .slider_item_lk, .slider_list {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}
.slider_indicator{
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 20px;
    font-size: 0;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: hsla(0,0%,100%,.3);
}
.slider_indicator_btn {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #fff;
}
.slider_indicator_btn_last {
    margin-right: 0;
}
.slider_indicator i:nth-child(1){
    background-color: #db192a;
}
.slider_extend {
    margin-left: -10px;
    height: 130px;
}
.slider_bi {
    overflow: hidden;
    float: left;
    margin-left: 10px;
    width: 390px;
    height: 130px;
}
.slider_bi_lk {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}
.slider_bi_img {
    display: block;
    width: 390px;
    height: 130px;
}
img {
    border: 0;
    vertical-align: middle;
}
.fs_col3 {
    float: right;
    margin-left: 10px;
    width: 190px;
    height: 100%;
    background-color: #fff;
}
.user {
    padding: 0 15px;
    height: 115px;
    border-bottom: 1px solid #e6e6e6;
}
.user_info {
    overflow: hidden;
    position: relative;
    padding: 15px 0 15px 58px;
    height: 75px;
}
.user_info_avatar {
    overflow: hidden;
    position: absolute;
    margin-left: -58px;
    width: 50px;
    height: 50px;
}
.user_info_avatar img {
    display: block;
    height: 40px;
    margin: 5px;
    -moz-border-radius: 23px;
    border-radius: 23px;
}
.user_info_plus0 .user_info_avatar_lk, .user_info_plus2 .user_info_avatar_lk, .user_info_plus4 .user_info_avatar_lk {
    background-image: url(../img/sprite_userinfo@1x.png);
    background-position: -70px 0;
    -moz-background-size: 156px 123px;
    background-size: 156px 123px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
.user_info_avatar_lk {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
.user_info_show a{
    color: #666;
}
.user_info_show p {
    overflow: hidden;
    margin-top: 2px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.user_profit {
    overflow: hidden;
    height: 24px;
    font-size: 0;
    margin-right: -10px;
}
.user_profit_lk {
    display: inline-block;
    margin-right: 10px;
    width: 70px;
    height: 20px;
    border: 2px solid #e01222;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: #e01222;
}
.news {
    overflow: hidden;
    padding: 0 15px;
    height: 154px;
}
.news .mod_tab_head {
    padding: 8px 0 4px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    line-height: 14px;
}
.fs_col3 .news .news_first {
    padding-left: 0;
}
.news a{
    color: #666;
}
.news .mod_tab_head_item {
    color: #333;
    padding-right: 12px;
    padding-left: 12px;
    border-right: 1px solid #dfe0e1;
}
.news .news_last {
    padding-right: 0;
    border-right: 0;
}
.news_more {
    position: absolute;
    right: 0;
    top: 8px;
}
.news_tab_active {
    position: absolute;
    bottom: -1px;
    left: -2px;
    width: 28px;
    height: 2px;
    background: #db192b;
}
.news .mod_tab_content {
    padding: 12px 0;
}
.news_item {
    line-height: 24px;
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.news_item a{
    color: #666;
}
.service {
    overflow: hidden;
    position: relative;
    height: 210px;
}
.service_entry {
    overflow: hidden;
    width: 190px;
}
.service_list {
    margin-left: -1px;
    width: 192px;
    height: 210px;
    overflow: hidden;
}
.service_item {
    position: relative;
    overflow: hidden;
    float: left;
    width: 47px;
    height: 69px;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    text-align: center;
}
.service_lk {
    padding-top: 14px;
    height: 55px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.service_ico_huafei, .service_ico_jipiao {
    background-image: url(../img/sprite_fs@1x.png);
    background-size: 156px 148px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.service_ico_huafei {
    background-position: 0 -88px;
}
.service_ico {
    margin: 0 auto;
}
.service_ico, .service_lk, .service_txt {
    display: block;
}
.service_txt {
    height: 22px;
    line-height: 22px;
    border-top: 2px solid #fff;
}
.service_ico_jipiao {
    background-position: 0 -44px;
}
.service_ico_jiudian {
    background-position: -44px -88px;
}
.service_ico_huoche, .service_ico_jiudian {
    background-image: url(../img/sprite_fs@1x.png);
    background-size: 156px 148px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.service_ico_youxi {
    background-position: -88px 0;
}
.service_ico_dianying, .service_ico_youxi {
    background-image: url(../img/sprite_fs@1x.png);
    background-size: 156px 148px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.service_ico_jiayou, .service_ico_qyg {
    background-image: url(../img/sprite_fs@1x.png);
    background-size: 156px 148px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.service_ico_qyg {
    background-position: -88px -44px;
}
.service_corner {
    position: absolute;
    right: 0;
    top: 0;
    width: 13px;
    height: 16px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background: #e01121;
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.service_ico_jiayou {
    background-position: 0 0;
}
.service_ico_dianying {
    background-position: -44px -44px;
}
.service_ico_huoche {
    background-position: -88px -88px;
}
.service_ico_licai, .service_ico_zhongchou {
    background-image: url(../img/sprite_fs@1x.png);
    background-size: 156px 148px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.service_ico_zhongchou {
    background-position: -132px 0;
}
.service_ico_licai {
    background-position: -132px -44px;
}
.service_ico_baitiao, .service_ico_lipin {
    background-image: url(../img/sprite_fs@1x.png);
    background-size: 156px 148px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.service_ico_lipin {
    background-position: -132px -88px;
}
.service_ico_baitiao {
    background-position: -44px 0;
}
.fbt, .sk {
    margin-bottom: 30px;
}
.sk {
    height: 305px;
}
.sk_inner {
    overflow: hidden;
}
.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
.sk .box_hd {
    background: url(../img/seckill_hd.png) no-repeat 0 0;
}
.box_hd {
    position: relative;
    padding: 0 20px 0 30px;
    height: 55px;
    line-height: 55px;
    color: #fff;
}
.box_hd_col1 {
    float: left;
}
.sk .box_hd_dec {
    background-image: url(../img/sprite_index@1x.png);
    background-position: -190px -48px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
}
.box_hd_dec {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 28px;
    height: 28px;
}
em, i {
    font-style: normal;
}
.sk .box_hd_icon {
    margin-top: 8px;
    margin-right: 8px;
    background-image: url(../img/sprite_index@1x.png);
    background-position: 0 -40px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 34px;
    height: 40px;
}
.box_hd_icon, .box_promo, .box_tit {
    float: left;
}
.box_tit {
    font-family: '微软雅黑';
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    padding-top: 9px;
}
.sk .box_subtit {
    float: left;
    margin-left: 12px;
}
.box_subtit {
    position: relative;
    float: right;
    margin-top: 19px;
    padding-right: 20px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}
.box_subtit_arrow, .coupon_entry_btn_ico {
    background-image: url(../img/sprite_index@1x.png);
    background-position: -154px -40px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 15px;
    height: 16px;
}
.box_subtit_arrow {
    position: absolute;
    right: 0;
    top: 4px;
}
.box_hd_col2 {
    float: right;
}
.sk_cd {
    float: left;
}
.sk_cd_tip {
    float: left;
    line-height: 45px;
    padding-top: 10px;
    font-size: 14px;
}
.sk_cd_main {
    float: left;
    margin-left: 6px;
    margin-right: 8px;
}
.sk .cd_item {
    float: left;
    width: 35px;
    height: 37px;
    background-color: #440106;
    color: #f90013;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 37px;
    margin-top: 10px;
}
.sk .cd_split {
    float: left;
    margin: 22px 4px 0;
    width: 4px;
    height: 12px;
    font-size: 0;
    line-height: 0;
}
.sk .cd_split_top {
    margin-bottom: 4px;
}
.sk .cd_split_bottom {
    top: 30px;
}
.sk .cd_split_dot {
    display: block;
    width: 4px;
    height: 4px;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #440106;
}
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}
.sk .box_bd {
    padding: 12px 0 13px;
    height: 250px;
    overflow: hidden;
}
.box_bd {
    background-color: #fff;
}
.sk_list_wrapper {
    float: left;
    width: 1000px;
    overflow: hidden;
    position: relative;
}
.sk_item {
    float: left;
    width: 200px;
    height: 225px;
    padding: 0 14px 0 15px;
    border-right: 1px solid #e7e7e7;
}
.sk_item_pic {
    position: relative;
    text-align: center;
}
.sk_item_pic_lk {
    display: block;
    outline: 0;
}
a {
    color: #666;
    text-decoration: none;
}
.sk_item_img {
    width: 130px;
    height: 130px;
    margin: 17px 0;
}
.sk_item_name {
    color: #999;
    display: block;
    max-width: 100%;
    _width: 100%;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    height: 32px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-all;
}
.sk_item_shadow {
    position: absolute;
    left: 0;
    top: 130px;
    text-align: center;
    background-image: url(../img/sprite_index@1x.png);
    background-position: 0 0;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 170px;
    height: 20px;
}
.sk_item_price {
    padding: 3px 0;
    height: 25px;
}
.sk_item_price_new {
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
}
.mod_price {
    font-size: 14px;
    color: #f10214;
}
.sk_item_price_new i {
    font-size: 12px;
    font-weight: 300;
}
.mod_price i {
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
}
.sk_item_price_origin {
    color: #999;
    font-size: 12px;
}
.sk_item_price_origin del {
    font-weight: 400;
}
s, strike, del {
    text-decoration: line-through;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.sk_split {
    width: 1px;
    height: 240px;
    background: #fff;
    top: 0;
    right: 0;
    z-index: 1;
    position: absolute;
}
.sk_special {
    margin: 0 10px 0 0;
    float: right;
}
.sk_special_pic {
    display: block;
    width: 180px;
    height: 225px;
}
.fbt {
    height: 444px;
}
.fbt, .sk {
    margin-bottom: 30px;
}
.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
.fbt_col1 {
    margin-right: 10px;
}
.fbt_col1, .fbt_col2, .fbt_col3 {
    width: 390px;
    height: 444px;
    float: left;
    overflow: hidden;
}
.find .box_hd {
    background: #4998a1;
}
.box_hd {
    position: relative;
    padding: 0 20px 0 30px;
    height: 55px;
    line-height: 55px;
    color: #fff;
}
.box_hd_arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 19px solid #f6f6f6;
    border-right: 19px solid transparent;
}
.find .box_hd_dec {
    background-image: url(../img/sprite_index@1x.png);
    background-position: -190px -96px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
}
.box_hd_dec {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 28px;
    height: 28px;
}
.find .box_bd {
    padding: 10px;
    height: 389px;
}
.find_list {
    width: 370px;
    height: 363px;
    overflow: hidden;
}
.find_item {
    float: left;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.find_item_lk {
    display: block;
    width: 185px;
    height: 120px;
    position: relative;
}
.find_item_name {
    font-size: 14px;
    color: #4998a1;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 80px;
    line-height: 20px;
    z-index: 1;
    word-wrap: break-word;
}
.find_item_img {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 80px;
    height: 80px;
}
.find_item_2, .find_item_4, .find_item_6 {
    border-right: 0;
    margin-right: -1px;
}
.find_item_5, .find_item_6 {
    border-bottom: 0;
}
.fbt_col1, .fbt_col2, .fbt_col3 {
    width: 390px;
    height: 444px;
    float: left;
    overflow: hidden;
}
.fbt_col2 {
    margin-right: 3px;
}
.sup .box_hd {
    background: #76488e;
}
.sup .box_hd_dec {
    background: url(../img/sup_hd_dec@1x.png);
}
.sup_tab {
    position: relative;
}
.sup_tab {
    width: 390px;
    height: 389px;
}
.sup_page {
    padding-top: 8px;
    height: 388px;
}
.sup_sep {
    width: 330px;
    height: 1px;
    margin: auto;
    background: #eee;
}
.sup_page_lk {
    display: block;
    width: 360px;
    height: 159px;
    margin: 0 15px 18px;
    padding-top: 18px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}
.sup_desc {
    font-size: 14px;
    line-height: 16px;
    color: #666;
    text-indent: 10px;
    margin-bottom: 15px;
    text-align: left;
}
.sup_img {
    display: inline-block;
    width: 107px;
    line-height: 110px;
    margin: 0 5px;
    vertical-align: top;
}
.sup_ind {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    width: 100%;
    line-height: 10px;
    text-align: center;
}
.sup_ind_item.active {
    background: #e01222;
}
.sup_ind_item {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 7px;
    background: #c8c8c8;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.sup_btn_pre {
    left: 0;
}
.sup_btn {
    position: absolute;
    top: 160px;
    width: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #797173;
    text-align: center;
    background: #f3f2f3;
    opacity: 1;
    z-index: 1;
}
.sup_btn_next {
    right: 0;
}
.top .box_hd {
    background: #e77005;
}
.top .box_hd_dec {
    background-image: url(../img/sprite_index@1x.png);
    background-position: -190px 0;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
}
.top_tab {
    height: 389px;
}
.top_tab_head {
    padding: 6px 0 7px;
    font-size: 0;
    border-bottom: 1px solid #e7e7e7;
    width: 370px;
    height: 32px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.top_tab_head_item_first {
    margin-left: -10px;
}
.top_tab_head_item {
    display: inline-block;
    line-height: 18px;
    font-size: 14px;
    width: 77px;
    border-right: 1px solid #d2d1d1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.top_tab_active {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 58px;
    height: 2px;
    background: #f10214;
}
.top .top_tab_content {
    padding: 10px;
}
.top .top_tab_content_item {
    height: 335px;
    overflow: hidden;
}
.top_list {
    height: 100%;
}
.top_item {
    position: relative;
    float: left;
    width: 123px;
    height: 167px;
    text-align: center;
}
.top_lk {
    display: block;
    padding: 12px 0;
    height: 167px;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
}
.top_rank {
    position: absolute;
    top: 12px;
    left: 11px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    background-image: url(../img/sprite_index@1x.png);
    background-position: -100px -100px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}
.top_rank_1 {
    background-image: url(../img/sprite_index@1x.png);
    background-position: -104px -40px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}
.top_pic {
    margin-bottom: 10px;
}
.top_img {
    width: auto !important;
}
.top_img {
    width: 100px;
    height: 100px;
}
.top_name {
    height: 32px;
    text-align: left;
    padding: 0 11px;
    line-height: 16px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.top_item_3 .top_lk, .top_item_6 .top_lk {
    border-right-color: #fff;
}
.top_rank_2 {
    background-image: url(../img/sprite_index@1x.png);
    background-position: -50px -100px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}
.top_rank_3 {
    background-image: url(../img/sprite_index@1x.png);
    background-position: 0 -100px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}
.top_item_4 .top_lk, .top_item_5 .top_lk, .top_item_6 .top_lk {
    border-bottom-color: #fff;
}
.coupon, .entry_c3 {
    margin-bottom: 30px;
}
.coupon {
    height: 215px;
}
.coupon_inner {
    height: 215px;
    background-color: #fff;
}
.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
.coupon_hd {
    float: left;
    width: 190px;
    height: 215px;
    background-color: #ea3524;
}
.coupon_entry {
    display: block;
    padding: 25px;
    width: 190px;
    height: 165px;
    color: #fff;
}
.coupon_entry_tit {
    overflow: hidden;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 30px;
    font-family: '微软雅黑';
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
}
.coupon_entry_gap {
    display: block;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 55px;
    height: 3px;
    background-color: #fff;
}
.coupon_entry_txt {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.coupon_entry_btn {
    display: block;
    position: relative;
    margin-top: 20px;
    padding: 2px 35px 4px 15px;
    height: 30px;
    border: 2px solid #fff;
    line-height: 20px;
    overflow: hidden;
}
.coupon_entry_btn_ico {
    position: absolute;
    right: 15px;
    top: 5px;
    width: 15px;
    height: 16px;
}
.coupon_bd {
    float: right;
}
.coupon_list {
    padding: 10px 0;
}
.coupon_item {
    position: relative;
    float: left;
    width: 200px;
    height: 195px;
    border-right: 1px solid #e7e7e7;
    overflow: hidden;
}
.coupon_item_lk {
    display: block;
    width: 100%;
    height: 100%;
}
.coupon_item_shadow {
    position: absolute;
    left: 100px;
    top: 33px;
    width: 15px;
    height: 150px;
    -moz-box-shadow: 0 0 30px #999;
    box-shadow: 0 0 30px #999;
}
.coupon_info {
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 15px;
    width: 100px;
    height: 180px;
    border-top: 3px solid #e93524;
    background-color: #fff;
}
.coupon_img {
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 25px;
    width: 140px;
    height: 140px;
}
.coupon_price {
    overflow: hidden;
    margin-top: 7px;
    height: 36px;
    line-height: 36px;
    font-size: 34px;
    font-weight: 700;
}
.coupon_desc {
    overflow: hidden;
    margin: 3px;
    height: 36px;
    line-height: 18px;
    color: #e93524;
}
.coupon_desc_txt {
    display: inline-block;
    vertical-align: middle;
}
.coupon_limit {
    overflow: hidden;
    padding: 15px 10px;
    width: 100px;
    height: 66px;
    background: #e7e7e7 url(../img/1.png) repeat-x 0 0;
    color: #666;
}
.coupon_limit_txt {
    display: inline-block;
    vertical-align: middle;
}
.coupon_more {
    overflow: hidden;
    width: 100%;
    height: 26px;
    background: #e93524;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #fff;
}
.rec {
    height: 100px;
    background-color: #e0e0e0;
}
.chn, .rec {
    margin-bottom: 30px;
}
.rec_list {
    overflow: hidden;
    height: 100px;
}
.rec_item {
    overflow: hidden;
    float: left;
    width: 396px;
    height: 100%;
}
.rec_lk {
    display: block;
    height: 100%;
}
.rec_img {
    display: block;
    margin: auto;
}
.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
.entry_c3 {
    height: 585px;
}
.ftit_inner {
    overflow: hidden;
    padding: 0 0 20px;
    height: 55px;
    background: url(../img/2.png) repeat-x 0 18px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}
.ftit_inner h3 {
    display: inline;
    padding: 0 50px;
    background-color: #f6f6f6;
    font-weight: 400;
    font-size: 26px;
    color: #333;
    font-family: '微软雅黑';
}
.entry_inner {
    overflow: hidden;
}
.entry_list {
    overflow: hidden;
    margin-left: -10px;
    width: 1200px;
}
.entry_c3 .entry_list {
    height: 530px;
}
.entry_item {
    overflow: hidden;
    position: relative;
    float: left;
    margin: 0 0 10px 10px;
    background-color: #fff;
}
.entry_c3 .entry_item {
    width: 390px;
    height: 170px;
}
.entry_c3 .live {
    float: right;
    height: 350px;
    color: #fff;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.live_inner {
    width: 100%;
    height: 100%;
    background: #333;
}
.live_hd {
    z-index: 10;
}
.live_hd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38px;
    background: rgba(0,0,0,.57);
}
.live_hd_lk {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 38px;
    line-height: 38px;
    color: #fff;
}
.live_hd_lk_tit {
    line-height: 38px;
    text-indent: 24px;
    font-size: 16px;
    font-weight: 400;
}
.live_hd_lk_more {
    position: absolute;
    right: 20px;
    top: 0;
    height: 38px;
    line-height: 38px;
    color: #fff;
    padding-right: 24px;
}
.live_hd_ico {
    position: absolute;
    right: 0;
    top: 11px;
    background-image: url(../img/sprite_entrylive@1x.png);
    background-position: -205px -128px;
    -moz-background-size: 237px 170px;
    background-size: 237px 170px;
    background-repeat: no-repeat;
    width: 15px;
    height: 16px;
}
.live_item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.live_cover {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.live_img {
    height: 350px;
    margin-left: -38px;
}
.live_cover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/3.png) repeat-x 0 100%;
}
.live_item_mask, .live_mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .37;
    filter: alpha(opacity=37);
}
.live_item_mask {
    z-index: 6;
}
.live_info {
    position: absolute;
    top: 260px;
    width: 100%;
    text-align: center;
    z-index: 5;
}
.live_info {
    z-index: 10;
}
.live_info_name {
    font-size: 16px;
    line-height: 26px;
}
.live_info_name_ico {
    display: inline-block;
    position: relative;
    top: 5px;
    background-image: url(../img/sprite_entrylive@1x.png);
    background-position: -205px -52px;
    -moz-background-size: 237px 170px;
    background-size: 237px 170px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.live_info_desc {
    font-size: 14px;
    line-height: 24px;
}
.live_ind {
    position: absolute;
    left: 0;
    top: 325px;
    width: 100%;
    text-align: center;
    line-height: 8px;
}
.live_ind {
    z-index: 7;
}
.live_ind_item {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #fff;
    margin: 0 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.live_ind_item.active{
    background: #fd3131;
}
.live_btn {
    position: absolute;
    top: 145px;
    background: #2d2d2d;
    background: rgba(0,0,0,.42);
    width: 20px;
    height: 48px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.live_btn_pre {
    left: 0;
}
.live_btn_next {
    right: 0;
}
.live_btn {
    z-index: 10;
}
.live_player {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333;
    display: block;
}
.live_player {
    z-index: -1;
}
.live_mask {
    display: none;
}
.live_mask {
    z-index: 6;
}
.live_playbtn {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -33px 0 0 -33px;
    background-image: url(../img/sprite_entrylive@1x.png);
    background-position: 0 -105px;
    -moz-background-size: 237px 170px;
    background-size: 237px 170px;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
    z-index: 2;
}
.live_playbtn {
    z-index: 10;
}
.live_disabled .live_playbtn {
    z-index: 6;
}
.entry_lk {
    display: block;
    width: 100%;
    height: 100%;
}
.entry_bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: #fff;
    opacity: .9;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.entry_c3 .entry_bg {
    width: 36%;
}
.csstransitions .entry_bg {
    position: absolute;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    z-index: 1;
}
.entry_1 .entry_item_1 .entry_bg {
    background: #59b07d;
}
.entry_info {
    margin: 0 auto;
}
.entry_c3 .entry_info {
    padding-top: 45px;
    width: 100px;
    font-size: 14px;
}
.entry_info_tit {
    overflow: hidden;
    height: 40px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    font-family: '微软雅黑';
    font-weight: 400;
}
.entry_1 .entry_info_tit {
    font-size: 22px;
}
.entry_info_desc {
    overflow: hidden;
    margin-top: 8px;
    height: 32px;
    line-height: 16px;
}
.entry_c3 .entry_img {
    display: block;
    width: 400px;
    height: 170px;
}
.entry_1 .entry_item_2 .entry_bg {
    background: #d9cc62;
}
.entry_1 .entry_item_7, .entry_1 .entry_item_8 {
    width: 190px;
    height: 170px;
}
.entry_1 .entry_item_7 .entry_bg, .entry_1 .entry_item_8 .entry_bg {
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    top: auto;
}
.entry_1 .entry_item_7 .entry_info, .entry_1 .entry_item_8 .entry_info {
    padding-top: 0;
    width: 100%;
    padding: 10px 0 0;
    text-align: center;
}
.entry_1 .entry_item_7 .entry_img, .entry_1 .entry_item_8 .entry_img {
    display: block;
    width: 200px;
    height: 170px;
}
.entry_1 .entry_item_7 .entry_info_tit, .entry_1 .entry_item_8 .entry_info_tit {
    font-size: 16px;
    line-height: 34px;
    width: 100px;
    height: 34px;
    margin: 0 auto;
}
.entry_1 .entry_item_7 .entry_info_desc, .entry_1 .entry_item_8 .entry_info_desc {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.chn_t {
    height: 578px;
}
.chn_col {
    float: left;
    width: 590px;
    margin-right: 10px;
    overflow: hidden;
}
.chn_col2 {
    margin-right: 0;
}
.pt_hd {
    height: 58px;
    padding: 16px 20px 16px 25px;
    background-color: #999;
}
.pt_cloth .pt_hd {
    background-color: #974676;
}
.pt_tit {
    float: left;
    font-size: 22px;
    color: #fff;
    height: 26px;
    line-height: 30px;
    font-weight: 400;
    max-width: 100px;
    font-family: '微软雅黑';
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pt_qrcode {
    float: left;
    position: relative;
    height: 32px;
    z-index: 10;
    margin-left: 15px;
    padding-top: 3px;
}
.pt_qrcode_ico {
    width: 20px;
    height: 20px;
    background: url(../img/pt_qrcode@1x.png);
}
.pt_qrcode:hover .pt_qrcode_pop{
    display: block;
}
.pt_qrcode_pop {
    position: absolute;
    display: none;
    left: -42px;
    top: 42px;
    background: #fff;
    text-align: center;
    border-style: solid;
    border-width: 0 1px 1px;
    width: 103px;
    -moz-box-shadow: 0 0 3px rgba(45,45,45,.5);
    box-shadow: 0 0 3px rgba(45,45,45,.5);
}
.pt_cloth .pt_qrcode_pop {
    border-color: #974676;
}
.pt_qrcode_arrow {
    border-color: transparent transparent #fff transparent !important;
}
.pt_qrcode_arrow {
    position: absolute;
    top: -14px;
    left: 44px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-style: solid;
    border-width: 7px;
}
.pt_qrcode_img {
    width: 80px;
    height: 90px;
    padding-top: 10px;
    margin: auto;
}
.pt_qrcode_txt {
    line-height: 31px;
    font-size: 12px;
}
.pt_cloth .pt_qrcode_txt {
    color: #974676;
}
.pt_tags {
    float: right;
    max-width: 440px;
    height: 28px;
    text-align: right;
    overflow: hidden;
}
.pt_hd_qrcode .pt_tags {
    max-width: 405px;
}
.pt_tags_item {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pt_cloth .pt_tags_item {
    border-color: #c187af;
    background-color: #ac6f93;
    color: #fff;
}
.o2_webkit .pt_cloth .pt_tags_item {
    background-color: hsla(0,0%,100%,.2);
}
.pt_bd_wrapper {
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
}
.pt_bd {
    position: relative;
    overflow: hidden;
}
.pt_ft {
    padding: 10px 0 0;
    clear: both;
    background-color: #fff;
}
.pt_bd_inner {
    width: 200%;
}
.pt_bd_hide {
    position: absolute;
    right: -9px;
    background-color: #fff;
    width: 10px;
    height: 1000px;
    top: 0;
}
.pt_cover {
    float: left;
    width: 183px;
    height: 260px;
    overflow: hidden;
    margin-right: 10px;
    background-color: #f7f7f7;
}
.pt_cover_img {
    display: block;
    width: 193px;
    height: 260px;
}
.pt_bi {
    float: left;
    width: 376px;
    height: 260px;
    position: relative;
    overflow: hidden;
}
.pt_bi_split {
    position: absolute;
    display: block;
}
.pt_bi_split_h {
    top: 130px;
    left: 0;
    width: 500px;
    height: 1px;
    background-color: #e6e6e6;
}
.pt_bi_split_v {
    top: 0;
    left: 188px;
    width: 1px;
    height: 500px;
    background-color: #e6e6e6;
}
.pt_bi_item {
    position: relative;
    float: left;
    width: 188px;
    height: 130px;
}
.pt_bi_tit {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 14px;
    color: red;
    max-width: 130px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
}
.pt_cloth .pt_bi_tit {
    color: #974676;
}
.pt_bi_promo {
    position: absolute;
    top: 50px;
    left: 25px;
    font-size: 12px;
    color: #666;
    max-width: 50px;
    z-index: 1;
}
.pt_bi_img {
    position: absolute;
    bottom: 10px;
    right: 5px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #f7f7f7;
}
.pt_more {
    clear: both;
    height: 130px;
    overflow: hidden;
    padding-top: 10px;
}
.pt_more_item {
    float: left;
    width: 183px;
    height: 130px;
    overflow: hidden;
    margin-right: 10px;
    background-color: #f7f7f7;
}
.pt_more_img {
    display: block;
    overflow: hidden;
    width: 193px;
    height: 130px;
}
.pt_ft {
    padding: 10px 0 0;
    clear: both;
    background-color: #fff;
}
.pt_logo {
    position: relative;
    padding: 0;
}
.chn_c2 .pt_logo {
    padding-left: 1px;
}
.pt_logo_list_wrapper {
    width: 100%;
    height: 35px;
    overflow: hidden;
}
.pt_logo_item {
    float: left;
    border-right: 1px solid #dedfe0;
    padding: 0 12px;
    height: 20px;
    margin-top: 7px;
}
.pt_logo_img {
    display: block;
    width: 70px;
    height: 35px;
    margin-top: -7px;
}
.pt_beauty .pt_hd {
    background-color: #cd375e;
}
.pt_logo_btn_wrapper{
    position: relative;
}
.pt_logo_btn {
    position: absolute;
    top: -34px;
    height: 35px;
    line-height: 35px;
    color: #736b6f;
    font-weight: 700;
    background: #fff;
    z-index: 1;
    font-size: 14px;
}
.pt_logo_pre {
    left: -6px;
}
.pt_logo_next {
    right: -6px;
}
.everybox{
    margin-bottom: 30px;
}
.pt_electronic .pt_hd {
    background-color: #78538e;
}
.pt_electronic .pt_bi_tit {
    color: #78538e;
}
.pt_phone .pt_hd {
    background-color: #5e6c90;
}
.pt_phone .pt_bi_tit {
    color: #5e6c90;
}
.pt_computer{
    height: 523px;
}
.pt_computer .pt_bd_wrapper{
    height: 465px;
}
.pt_computer .pt_hd {
    background-color: #488bad;
}
.chn_c1 .chn_col {
    float: none;
    width: 1190px;
    background-color: #fff;
    overflow: hidden;
}
.chn_c1 .pt_hd_qrcode .pt_tags {
    max-width: 1005px;
}
.o2_webkit .pt_computer .pt_tags_item {
    background-color: hsla(0,0%,100%,.2);
}
.pt_computer .pt_tags_item {
    border-color: #77b6c3;
    background-color: #6da6be;
    color: #fff;
}
.chn_c1 .pt_bd {
    float: left;
    width: 570px;
}
.chn_c1 .pt_bd_col2 {
    border-left: 1px solid #e6e6e6;
    margin-left: 15px;
    width: 569px;
    padding-left: 15px;
}
.pt_computer .pt_bi_tit {
    color: #488bad;
}
.pt_3c .pt_hd {
    background-color: #3aaba9;
}
.pt_3c .pt_bi_tit {
    color: #3aaba9;
}
.pt_sport .pt_hd {
    background-color: #568e7d;
}
.pt_sport .pt_bi_tit {
    color: #568e7d;
}
.pt_eat .pt_hd {
    background-color: #eeb924;
}
.pt_eat .pt_qrcode_txt {
    color: #eeb924;
}
.pt_eat .pt_bi_tit {
    color: #eeb924;
}
.pt_bi_2 {
    width: 188px;
}
.pt_beauty .pt_qrcode_txt {
    color: #cd375e;
}
.pt_electronic .pt_qrcode_txt {
    color: #78538e;
}
.pt_phone .pt_qrcode_txt {
    color: #5e6c90;
}
.pt_computer .pt_qrcode_txt {
    color: #488bad;
}
.pt_3c .pt_qrcode_txt {
    color: #3aaba9;
}
.pt_sport .pt_qrcode_txt {
    color: #568e7d;
}
.pt_baby .pt_hd {
    background-color: #e16c46;
}
.pt_baby .pt_qrcode_txt {
    color: #e16c46;
}
.pt_baby .pt_bi_tit {
    color: #e16c46;
}
.pt_family .pt_hd {
    background-color: #a56741;
}
.pt_family .pt_qrcode_txt {
    color: #a56741;
}
.pt_family .pt_bi_tit {
    color: #a56741;
}
.pt_reading .pt_hd {
    background-color: #756059;
}
.pt_reading .pt_qrcode_txt {
    color: #756059;
}
.pt_reading .pt_bi_tit {
    color: #756059;
}
.pt_car .pt_hd {
    background-color: #865454;
}
.pt_car .pt_qrcode_txt {
    color: #865454;
}
.pt_car .pt_bi_tit {
    color: #865454;
}
.chn_c3 .chn_col {
    width: 390px;
}
.chn_c3 .chn_col2 {
    margin-right: 10px;
}
.chn_c3 .chn_col3 {
    margin-right: 0;
}
.pt_game .pt_hd {
    background-color: #6467a0;
}
.pt_game .pt_qrcode_txt {
    color: #6467a0;
}
.pt_game .pt_bi_tit {
    color: #6467a0;
}
.chn_c3 .pt_hd_qrcode .pt_tags {
    max-width: 205px;
}
.pt_travel .pt_hd {
    background-color: #5981a3;
}
.pt_travel .pt_qrcode_txt {
    color: #5981a3;
}
.pt_travel .pt_bi_tit {
    color: #5981a3;
}
.pt_finance .pt_hd {
    background-color: #5a7259;
}
.pt_finance .pt_qrcode_txt {
    color: #5a7259;
}
.pt_finance .pt_bi_tit {
    color: #5a7259;
}
.goutesebox{
    margin-bottom: 30px;
    height: 195px;
}
.goutesebox .entry_list {
    height: 140px;
    margin-left: -5px;
}
.goutesebox .entry_item {
    width: 160px;
    height: 140px;
}
.goutesebox .entry_bg {
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    top: auto;
}
.goutesebox .entry_info {
    padding-top: 0;
    width: 100%;
    padding: 10px 0 13px;
    text-align: center;
}
.goutesebox .entry_info_tit {
    height: auto;
    border-top: 0;
    border-bottom: 0;
    line-height: 24px;
}
.goutesebox .entry_info_desc {
    padding: 0 10px;
    margin-top: 0;
    height: auto;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.goutesebox .entry_img {
    display: block;
    width: 160px;
    height: 140px;
}
.goutesebox .entry_item_3 .entry_bg {
    background: #ca3030;
}
.goutesebox .entry_item_5 .entry_bg {
    background: #da5d40;
}
.goutesebox .entry_item_6 .entry_bg {
    background: #4f87b1;
}
.goutesebox .entry_item_7 .entry_bg {
    background: #d5bb09;
}
.content{
    width:100%;
    overflow: hidden;
    background: #F6F6F6;
}
.content1{
    width:1190px;
    padding: 0 0 20px;
    margin:0 auto;
    margin-bottom:15px;
}
.ctitle{
    width:100%;
    height:55px;
}
.ctitle li{
    width:20%;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    color: #333;
    float: left;
}
.ctitle li:nth-child(1){
    width:40%;
    height:10px;
    margin-top:12px;
    background:url("../img/tiao.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
.ctitle li:nth-child(3){
    width:40%;
    height:10px;
    margin-top:12px;
    background:url("../img/tiao.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
.shoping{
    width:220px;
    height:300px;
    float: left;
    margin-top:20px;
}
.shoping1{
    width:100%;
    height:100%;
    margin-bottom: 15px;
    background: #fff;
}
.shoping1 li{
    font-size: 12px;
    /*text-align: center;*/
}
.shoping1 li:nth-child(1){
    display: block;
    width:220px;
    height:220px;
}
.shoping1 li:nth-child(2){
    padding: 5px;
    color: #333;
}
.shoping1 li:nth-child(3){
    padding: 0 10px 10px 10px;
    color: red;
}
.tu1{
    width:100%;
    height:100%;
}
.content li{
    cursor: pointer;
}
.content li:hover{
    color: #C82B30;
}
.kong{
    margin-left:22px;
}
.fenxi{
    width:100%;
    height:50px;
    background: #F6F6F6;
}
/*底部开始*/
footer{
    width:100%;
    overflow: hidden;
    background: #EAEAEA;
    /*margin-top:15px;*/
}
.foot{
    width:1190px;
    padding:30px 0;
    margin:0 auto;
}
.foottu{
    display: block;
    width:100%;
    height:42px;
    margin:0 auto;
}
.foottu li{
    display: block;
    height:100%;
    line-height: 42px;
    font-size: 18px;
    text-align: center;
    color: #444;
    float: left;
    overflow: hidden;
}
.ditu{
    display: block;
    width:36px;
    background:url("../img/ico_service.png");
    background-position: 0 -129px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left:80px;
}
.foot1{
    padding:20px 0;
    overflow: hidden;
    height:200px;
    width:1190px;
    margin:0 auto;
    border-bottom: 1px solid #ccc;
}
.dilist{
    display: block;
    width:198px;
    height:100%;
    float: left;
}
.dilist li{
    line-height: 22px;
    font-size: 12px;
}
.dilist li:nth-child(1){
    line-height: 22px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight:bold;
}
.dilist1{
    display: block;
    width:200px;
    height:94%;
    float: left;
    background: url("../img/ico_footer.png") no-repeat 0 0;
}
.dilist1 li:nth-child(1){
    margin-bottom: 15px;
    font-size: 14px;
    font-weight:bold;
    text-align: center;
}
.dilist1 li:nth-child(2){
    line-height: 22px;
    font-size: 12px;
}
.dilist1 li:nth-child(3){
    line-height: 22px;
    font-size: 12px;
    float: right;
}
.foot2{
    overflow: hidden;
    /*height:200px;*/
    width:1190px;
    margin:0 auto;
    padding:15px 50px;
}
.dilist2{
    width:100%;
    height:18px;
    display: flex;
    justify-content:space-between;
}
.dilist2 li{
    font-size: 12px;
    line-height: 16px;
    float: left;
    text-align: center;
    color: #727272;
}
.foot3{
    overflow: hidden;
    /*height:200px;*/
    width:1190px;
    margin:0 auto;
    padding:15px 0px;
}
.dizi{
    display: block;
    width:70%;
    padding: 10px 0;
    margin:0 auto;
    display: flex;
    justify-content:space-between;
}
.dizi li{
    text-align: center;
    line-height: 22px;
    color: #999;
    font-size: 12px;
    float: left;
}
.dizi1{
    display: block;
    width:75%;
    /*padding: 10px 0;*/
    margin:0 auto;
    display: flex;
    justify-content:space-between;
}
.dizi1 li{
    text-align: center;
    line-height: 22px;
    color: #999;
    font-size: 12px;
    float: left;
}
.dizi2{
    display: block;
    width:45%;
    /*padding: 10px 0;*/
    margin:0 auto;
    display: flex;
    justify-content:space-between;
}
.dizi2 li{
    text-align: center;
    line-height: 22px;
    color: #999;
    font-size: 12px;
    float: left;
}
.dizi3{
    display: block;
    width:15%;
    /*padding: 10px 0;*/
    margin:0 auto;
    display: flex;
    justify-content:space-between;
}
.dizi3 li{
    text-align: center;
    line-height: 22px;
    color: #999;
    font-size: 12px;
    float: left;
}
.foot4{
    overflow: hidden;
    /*height:200px;*/
    width:1190px;
    margin:0 auto;
    padding:5px 0px;
}
.footdi{
    width:620px;
    height:32px;
    margin:0 auto;
}
.tu5{
    width:100%;
    height:100%;
}
.footbox{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.lift {
    /*display: none;*/
    position: fixed;
    z-index: 100;
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    background-color: #918888;
}
.lift_item {
    border-top: 1px solid #b1aaaa;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    transition: background-color .1s;
}

.lift_btn {
    overflow: hidden;
    display: block;
    width: 34px;
    padding: 10px 5px;
    line-height: 14px;
    text-align: center;
    color: #fefefe;
    -webkit-transition: color .1s;
    -moz-transition: color .1s;
    transition: color .1s;
}


.rights{
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-right: 6px solid #7a6e6e;

    z-index: 10;
}
.rshu{
     position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-right: 6px solid #7a6e6e;
   
    z-index: 100;
}
.rightleft{
    position: absolute;
    top: 50%;
    left: -35px;
    width: 35px;
    margin-top: -61px;
    z-index: 2;
}
.rightleft li{
    position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #7a6e6e;
    border-radius: 2px 0 0 2px;
   
}
.rightleft li img{
    margin-top: 3px;
    margin-left: 3px;
}
.rightleftx li img{
    margin-top: 3px;
    margin-left: 3px;
}
/* img{
width: 100%;
height: 100%;
} */
.rightleftx{
  position: absolute;
    bottom: 0;
    left: -35px;
    width: 35px;
    margin-top: -61px;
     z-index: 2;
}
.rightleftx li{
    position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #7a6e6e;
    border-radius: 2px 0 0 2px;
}
.rbox{
    width: 62px;
    height: 35px;
    line-height: 35px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
    font-family: 微软雅黑;
    position: absolute;
    z-index: -1;
    left: 35px;
    top: 0px;
    background-color: rgb(122, 110, 110);
    border-radius: 3px 0px 0px 3px;
    transition: left 0.3s ease-in-out 0.1s;
    }
 .top{
     width:100%;
     height: 50px;

     position: fixed;
     top:-50px;
     z-index: 1000;



     border-bottom: 2px solid #f10214;
     background-color: #fff;
     box-shadow: 2px 2px 2px rgba(0,0,0,.2);
     transition: all 1s;

 }

.top-m{
    margin: auto;
    width: 1190px;
    height: 48px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.top_logo{
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    width: 125px;
    height: 40px;
    overflow: hidden;

    background-image: url(../img/logo_s.v2.png);
    background-repeat: no-repeat;

}
img:hover{
    transition:all 0.5s;
    right: 18px;
}
.form{
    position: absolute;
    left: 320px;
    top: 6px;
    width: 550px;
    height: 35px;
    overflow: hidden;

}
.text{
    position: absolute;
    left: 0;
    padding: 4px;
    width: 500px;
    height: 35px;
    border: 1px solid #efefef;
    background: #efefef;
    line-height: 25px;
    font-size: 14px;
    color: #989898;
}
.form .button{
    position: absolute;
    right: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
    font-size: 16px;

    color: #fff;
}