.bigbox{
	width: 1200px;
	margin: 0 auto;
}
header {
    width: 100%;
    height: 25px;
    line-height: 25px;
    background: #f6f6f6;
    border-bottom: 1px solid #ececec;
    /* overflow: hidden; */
}
.gd1og1 {
    width: 140px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e4e4e4;
    margin: 14px 15px;
    color: #25b2fe;
    padding: 0 20px;
}
span {
    font-size: 10px;
    color: #ddd;
    float: left;
    line-height: 25px;
}
.gd2wm {
    width: 160px;
    height: 157px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/yidong2weima.png);
    top: 25px;
    left: 0;
    z-index: 1002;
    display: none;
}
.dropdown1 {
    width: 131px;
    height: 25px;
    text-align: center;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    float: left;
}
.topbar {
   width: 1200px;
    
    margin: 0 auto;
}
.topbar .topleft {

    float: left;
    margin:0 auto;
}
.topbar .topleft ul li{
	 border-right: 1px solid #ececec;
    padding: 0 10px;
       display: inline-block;
        color: #888;
        line-height: 25px;
        font-size: 12px;
        margin-top: 0;
}
.topbar .topright {
    float: right;
}
.topbar .topright ul li{
	display: inline-block;
	float: left;
	 font-size: 12px;
	  color: #888;
}
.topbar .topright ul span{
	color: #888;
	margin-left: 2px;
	font-size: 12px;
	margin-right: 2px;
}
.topbar .topright ul li:nth-child(1){
color: #e40077;

}

.middle{
width: 100%;
	/* height: 100px; */
	padding: 15px 50px 15px 0;
	/* background: black; */
	overflow: hidden;
}
.middleleft{
width: 50%;
	overflow: hidden;
	float: left;
}
.logo{
	width: 230px;
	    float: left;
    /* margin: 20px 0 0 20px; */
}
.dropdown{
	    float: left;
    margin: 20px 0 0 20px;
}
.topcity{
	cursor: pointer;
    font-size: 14px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px 0 0;
    background: transparent url(../img/x.gif) no-repeat right 9px;
}
.middleright{
	width: 50%;
	overflow: hidden;
	float: left;
}
.input-group{
	border: 2px solid #dfdfdf;
    width: 100%;
    position: static;
    display: table; 
    position: relative;
}
.upinput{
	width: 100%;
	height: 100%;
	border: 0;
    color: #999;
    height: 32px;
}
.btn{
	    border: 0;
    padding-left: 30px;
    background: #25b2fe url(../images/search.png) no-repeat 15px center;
    color: #fff;
    width: 85px;
    border-radius: 3px;
    margin-left: 0;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
}
.inputbottom{
	padding-top: 5px;
}
.inputbottom ul{

}

.inputbottom ul li{
	color: #e40077;
	padding: 0 20px 0 0;
	float: left;
	font-size: 12px;
}
.inputbottom ul .inbocolor{
	color: #666;
	
}
.bannahead{
	width: 100%;
	/* overflow: hidden; */
	position: relative;
}
.bannahead .xiala ul #xx{
	width: 200px;
	height: 30px;
	font-size: 14px;
	border: 0;
	background: #fff;
	float: left;
	text-align: center;
    padding: 0;
    line-height: 30px;
    color: black;
}
.bannahead .xiala ul{
	overflow: hidden;
}
.bannahead ul{
overflow: hidden;
}
.bannahead ul li{
	width: 259px;
	float: left;
    border-right: 1px solid #fff;
    height: 40px;
	text-align: center;
    padding: 0;
    line-height: 40px;
    font-size: 16px;
    background: #E4E4E4;
}
.bannahead ul li:nth-child(1){
	width: 160px;
	color: #0085d0;
    border-top: 2px solid #0085d0;
}
.bannahead:hover .xiala{
display: block;
}

.xiala{
	width: 100%;
	height: 30px;
	/* background: black; */
	z-index: 1000;
	position: absolute;
	top: 40px;
	left: 0px;
	display: none;
}
.banna{
	width: 100%;
	overflow: hidden;
}
.shopleft{
float: left;
    width: 160px;
    height: 350px;
    padding: 8px 10px 10px 10px;
    border: 1px solid #b8d9e9;
    margin: 5px 10px 0 0;
    background: #fff;
}
.shopleft h1{
	font-size: 12px;
    color: #333;
    font-weight: normal;
    text-align: center;
    padding: 0 0 3px 0;
    margin: 0;
    line-height: 180%
}
.shopleft ul li{
	float: left;
    height: 52px;
    line-height: 52px;
    border-top: 1px solid #e9e9e9;
    width: 100%;
    text-align: center;
}
.bannatu{
	width: 740px;
	height: 350px;
	position: relative;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	overflow: hidden;
	position: relative;

cursor:pointer;
}
.item{
	position: absolute;
	top: 0;
	left: 0;
}
.bannaright{
 background: #fff;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    float: right;
    height: 349px;
    width: 278px;
    margin: 5px 0 0 0;
}
.brtop{
	    float: left;
    width: 100%;
    padding: 5px 0 0 0;
}
.brtop ul {
	width: 100%;
    float: left;
}

.brtop ul li{
	float: left;
    height: 78px;
    width: 33%;
    position: relative;
    z-index: 1;
    color: #4e4e4e;
   
    display: block;
    
    height: 77px;
    
    padding: 55px 0 0;
 
    text-align: center;
    
    top: 0px;
    font-size: 12px;
    
}
.brtop ul li:nth-child(1){
 	background: url(../img/20160323161008732O2n.gif) no-repeat center 15px;
}
.brtop ul li:nth-child(2){
 	background: url(../img/20160323161051270xTE.gif) no-repeat center 15px;
}
.brtop ul li:nth-child(3){
 	background: url(../img/20160927112035566Pxd.png) no-repeat center 15px;
}
.brtop ul li:nth-child(4){
 	background: url(../img/20160323161119374xjY.gif) no-repeat center 15px;
}
.brtop ul li:nth-child(5){
 	background: url(../img/20160323161129527sVd.gif) no-repeat center 15px;
}
.brtop ul li:nth-child(6){
 	background: url(../img/20160630153145554tc4.gif) no-repeat center 15px;
}
.xtip{
	position: absolute;
    border-radius: 50%;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    line-height: 21px;
    color: #fff;
    text-align: center;
    background: #e40077;
    /* font-family: "宋体"; */
    right: 18px;
    top: 5px;
    z-index: 99;
}
.chongzhi{
	padding: 20px 10px 10px 10px;
    float: left;
    position: relative;
    height: 185px;

}
.czjf{
	float: left;
    font: bold 14px/36px "微软雅黑";
    color: #333;
    padding: 0 15px;
    width: 98%;
    height: 20px;
    line-height: 20px;

}
.czjf span{
	float: right;
    color: #ff0000;
    font-size: 12px;
}
.ins{
	float: left;
    border: 1px solid #dadada;
    border-radius: 3px;
    height: 36px;
    width: 235px;
    padding: 3px 5px;
    margin: 8px 0 0 12px;
    position: relative;
}
.jiage{
	float: left;
    width: 280px;
    text-align: center;
    padding: 10px 0;
    height: 56px;
    margin: 0 auto;
    /* padding: 20px 10px 10px 10px; */
    /* float: left; */
}
.jiage ul{
	text-align: center;
}
.jiage ul li{
	    font-size: 12px;
    display: inline-block;
    border: 1px solid #dadada;
    border-radius: 3px;
    
    color: #666;
    width: 44px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin: 0 2px;
}
.jiage ul li:nth-child(2){
	 border-radius: 3px;
	background: #e40077;
    border: 1px solid #e40077;
    color: #fff;
    text-decoration: none;
}
.ljcz{
	background: #33acfb;
    color: #fff;
    border: 0;
    border-radius: 3px;
    
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    float: left;
    /* margin: 0 auto; */
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
.yhcx{
	float: left;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px 0px;
    height: 180px;
    background: #dfdfdf;
    position: relative;
}
.yhcx ul{
width: 4752px;
overflow: hidden;
position: absolute;
 left: -1188px;
transition: all 1s;
}
.yhcx ul li{
	float: left;
    position: relative;
    background: #fff;
    overflow: hidden;
    width: 282px;
    height: 160px;
    margin-left: 15px;
    overflow: hidden;

}
.yhcx ul li h1{
	font-size:18px;
	color: #333;
    padding: 6px 0 0 20px;
    margin: 0;
    font-size: 20px;
     z-index:10;
}
.yhcx ul li h2{
	font-size:14px;
	    color: #666;
    padding: 0 0 0 20px;
    margin: 0;
    /* font-size: 14px; */
    z-index:10;
}
.yhcx ul li img{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}
.yhnext{
	position: absolute;
    left: 0;
    top: 70px;
    height: 35px;
    width: 28px;
    background: url(../img/lbnextpre.gif) no-repeat left top;
    cursor: pointer;
    opacity: 0.8;
    z-index: 99;
}
.yhpre{
	position: absolute;
    right: 0;
    top: 70px;
    height: 35px;
    width: 28px;
    background: url(../img/lbnextpre.gif) no-repeat right top;
    cursor: pointer;
    opacity: 0.8;
    z-index: 99;
}
.nr4g{
	float: left;
    width: 100%;
    margin: 10px 0 0 0;
    border: 1px solid #dfdfdf;
    overflow: hidden;
}
.indextitle{
	float: left;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 25px;
    width: 100%;
    
}
.indextitle span{
	float: left;
    color: #0085d0;
    font-size: 15px;
   
}
.indextitle p{
	float: right;
	color: #666;
	font-size: 14px;
}
.nrtuleft{
	width: 300px;
	 float: left;
    position: relative;
    overflow: hidden;
    height: 377px;
}
.indexnr{
	width: 100%;
	overflow: hidden;
}
.nrturight{
	width: 898px;
	float: left;
    position: relative;
    overflow: hidden;
    height: 377px;
    /* background: black; */
    /* padding: 1px; */
}
.nrturight ul{
	overflow: hidden;
	height: 100%;
}
.nrturight ul li{
	width: 298px;
	height: 50%;
	float: left;
	margin-right: 1px;
	position: relative;
	overflow: hidden;
}
.nrturight ul li h1{
	color: rgb(51, 51, 51);
    font: bold 18px/25px 微软雅黑;
    padding: 6px 0px 0px 20px;
    margin: 0px;
}
.nrturight ul li h2{
	font: normal 14px "微软雅黑";
    color: #666;
    padding: 0 0 0 20px;
    margin: 0;
}
.nrturight ul li img{
	position: absolute;
	right: 0;
	bottom: 0;
}
.nrturight ul li img:hover{
	right: 20px;
}
.hui{
	background: #EFEFEF;
}
.nrturight ul .hui h1{
	color: #E40077;
}
@keyframes leftchu{
0%{
    left: 0;
}
100%{
    left: -740px;
}
}
@keyframes leftru{
0%{
    left: -740px;
}
100%{
    left: 0;
}
}
@keyframes rightru{
0%{
    left: 740px;
}
100%{
    left: 0;
}
}
@keyframes rightchu{
0%{
    left:0;
}
100%{
    left: 740px;
}
}
.leftchu{
	animation:leftchu 2s ease-in;
}
.leftru{
	animation:leftru 2s ease-in;
}
.rightchu{
	animation:rightchu 2s ease-in;
}
.rightru{
	animation:rightru 2s ease-in;
}
.bannatu ul li{
	position: absolute;
	top: 0;
	left: 0;
}
.bannatu ul li:nth-child(1){
	z-index: 2;
}
.longbodian{
	width: 140px;
	height: 21px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 40px;
	/* background: black; */
	z-index: 10000;
	overflow: hidden;
	text-align: center;
}
.dian{
	
	height: 15px;
    opacity: 0.85;
    background: #ccc;
    overflow: hidden;
    text-align: center;
    width: 15px;
    border: 0;
    float: left;
    margin-right: 5px;
    border-radius: 10px;
    transition: 3s;
}
.dianhong{
	background:#E40077
}
.leftjt{
	width: 30px;
	height: 70px;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0.5;
	font-size:40px;
	color: rgba(250, 250, 250, 0.7);
	z-index: 1000;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	line-height: 70px;

}
.rightjt{
	width: 30px;
	height: 70px;
	background: rgba(0, 0, 0, 0.6);
	font-size:40px;
	color: rgba(250, 250, 250, 0.7);
	z-index: 1000;
	opacity: 0.5;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 0;
	line-height: 70px;

}






.buyphone {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    border: 1px solid #dfdfdf;
}
.buyphone .row{
    width: 1198px;
    height:428px;
}
.buy1{
    width: 25%;
    height: 380px;
    border-right: 1px solid #dfdfdf;
    float: left;
    position: relative;
}
.buy1 .lianjie1 h2{
   padding: 20px 0px  0px 20px;
    color: #666;
    font-size: 14px;
}
.buy1 .lianjie1 h3{
    color:#0085d0;
    padding: 0px 0px  0px 20px;
}

.price .lianjie2{
    width: 100%;
    height: 38px;
    display: block;
}
.price .lianjie2 p{
    padding: 10px 0 0 20px;
    color: #ef33a2;
    font-size:20px;
    float: left;
}
.buy1 .lianjie3{
    display: block;
    width: 100%;
    height: 282px;
}
.buy1 .lianjie3 img{
    bottom: 10px;
    float: right;
}
.lianjie3 img:hover{
    transform: translate(-30px);
}
.buy1gud{
    top: 18px;
    width: 44px;
    height: 58px;
    font-size: 14px;
    line-height:40px;
    color: #fff;
    text-align: center;
    position: absolute;
    right: 30px;
    background: url('../img/jb02.gif') no-repeat;
}
.buy1gud a{
    color: #fff;
    display: block;
    width: 44px;
    height: 58px;
}
.buy1gud1{
    top: 18px;
    width: 44px;
    height: 58px;
    font-size: 14px;
    line-height:40px;
    text-align: center;
    position: absolute;
    right: 30px;
    background: url('../img/jb04.gif') no-repeat;
}
.buy1gud1 a{
    color: white;
    display: block;
    width: 44px;
    height: 58px;
}
.gonggao{
    float: left;
    font-size: 15px;
    height: 38px;
    line-height: 38px;
    margin: 10px 0 0 0;
    width: 100%;
    border: 1px solid #dfdfdf;
    overflow: hidden;
}
.gonggao span{
    float: left;
    background:url('../img/indexgg.gif');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    color: #666;
    padding: 0 0 0 50px;
}
.gglan{
    float: left;
}
.ggbtn{
    cursor: pointer;
    float: right;
    padding: 0 20px 0 0;
}
.ggbtn .ggzjt{
    color: #3580ba;
    width: 22px;
    font-size: 15px;
    height: 38px;
    line-height: 38px;
    float: left;
}
.ggbtn .ggrjt{
    color: #3580ba;
    width: 22px;
    font-size: 15px;
    height: 38px;
    line-height: 38px;
    float: left;
}
.help{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    border: 1px solid #dfdfdf;
    padding: 20px 0 20px 35px;
}







.bangzhu{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    border: 1px solid #dfdfdf;
    padding: 20px 0 20px 35px;
    text-align: center;
}
.bangzhu-low .bt{
    font: bold 15px/180% "微软雅黑";
    color: #666;
    margin: 0;
    height: 27px;
}
.bangzhu-low li{
    font-size: 15px;
    margin-top: 2px;
    color: #666;
}
.bangzhu ul{
    margin-left: 150px;
    float: left;
}
.bangzhu ul:nth-child(1){
    margin-left: 0;
}
footer{
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
}
.footer-box{
    float: left;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-row1{
    width: 100%;
    height: 33px;
    padding: 0 276px;
    text-align: center;
}
.footer-row1 li{
    margin-left: 5px;
    float: left;
    color: #666;
}
.footer-row2{
    height: 33px;
    padding: 0 335px;
    text-align: center;
}
.footer-row2 li{
    margin-left: 5px;
    float: left;
    color: #666;
}
.footer-box span{
    height: 33px;
    color: #333;
}
.footer-row4{
    height: 33px;
    padding: 0 430px;
}
.footer-row4 li{
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    color: #333;
}
.footer-row5{
    height: 47px;
    padding: 0 430px;
}
.footer-row5 li{
    margin-top: 5px;
    margin-left: 15px;
    float: left;
    color: #333;
}
.gov{
    background: url('../img/gov.gif') no-repeat;
    background-size: 21px 25px;
    line-height: 25px;
    margin: 12px 0 0 0;
    padding: 0 0 0 25px;
    width: auto;
}

.topbar a:hover{
    color: #25b2fe;
}
.bangzhu-low li:hover{
    color:#0085d0;
}
.footer-row1 li:hover{
    color:#0085d0;
}
.footer-row2 li:hover{
    color:#0085d0;
}
.gglan{
    float: left;
    width: 80%;
    margin: 0;
}
.gglan li{
    float: left;
    padding: 0 10px 0 20px;
    width:50%;
    display: block;
}
.gglan li a{
    color: #0085d0;
    width: 70%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gglan li span{
    color: #CCC;
    float: left;
    background: none;
    padding: 0 0 0 5px;
    width: 30%;
}
.four{
     float: left;
    width: 100%;
    margin: 10px 0 0 0;
    border: 1px solid #dfdfdf;
}
.row{
    height:425px;
}
.ftitle{
    float: left;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 25px;
    width: 100%;
}
.ftitle span{
    float: left;
    color: #0085d0;
    font-size: 15px;
    font-weight: bold;
}
.ftitle a{
    float: right;
}
.fleft{
    float: left;
    width: 25%;
    height: 377px;
    overflow: hidden;
}
.f1{
    float: left;
    height: 377px;
    border-left: 1px solid #dfdfdf;
    width:25%;
}
.f1 .indexbox1{
    width: 100%;
    height: 188px;
    border-bottom: 1px solid #dfdfdf;
    float: left;
    position: relative;
    background: #fff;
    overflow: hidden;
}
.indexbox1 img:hover{
    transform: translate(-30px);
}
.indexbox2 img:hover{
    transform: translate(-30px);
}
.indexbox1 h1 {
    font:  18px/25px "微软雅黑";
    color: #333;
    padding: 6px 0 0 20px;
    margin: 0;
}
.indexbox1 h2 {
    font: normal 14px/20px "微软雅黑";
    color: #666;
    padding: 0 0 0 20px;
    margin: 0;
}
.indexbox1  .lianjie2 {
    display: block;
    height: 136px;
    width: 100%;
}
.indexbox1 .lianjie2 img{
    float: right;
}
.f1 .indexbox2{
    width: 100%;
    height: 188px;
    border-bottom: 1px solid #dfdfdf;
    float: left;
    position: relative;
    background: #efefef;
    overflow: hidden;
}
.indexbox2 h1 {
    color: rgb(228, 0, 119);
    font: 18px/25px 微软雅黑;
    padding: 8px 0px 0px 20px;
    margin: 0px;
}
.indexbox2 h2 {
    font: normal 14px/20px "微软雅黑";
    color: #666;
    padding: 0 0 0 20px;
    margin: 0;
}
.indexbox2  .lianjie2 {
    display: block;
    height: 136px;
    width: 100%;
}
.indexbox2 .lianjie2 img{
    float: right;
}
.buyphone {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    border: 1px solid #dfdfdf;
}
.buyphone .row{
    width: 1198px;
    height:428px;
}
.buy1{
    width: 25%;
    height: 380px;
    border-right: 1px solid #dfdfdf;
    float: left;
    position: relative;
}
.buy1 .lianjie1 h2{
   padding: 20px 0px  0px 20px;
    color: #666;
    font-size: 14px;
}
.buy1 .lianjie1 h3{
    color:#0085d0;
    padding: 0px 0px  0px 20px;
}

.price .lianjie2{
    width: 100%;
    height: 38px;
    display: block;
}
.price .lianjie2 p{
    padding: 10px 0 0 20px;
    color: #ef33a2;
    font-size:20px;
    float: left;
}
.buy1 .lianjie3{
    display: block;
    width: 100%;
    height: 282px;
}
.buy1 .lianjie3 img{
    bottom: 10px;
    float: right;
}
.lianjie3 img:hover{
    transform: translate(-30px);
}
.buy1gud{
    top: 18px;
    width: 44px;
    height: 58px;
    font-size: 14px;
    line-height:40px;
    color: #fff;
    text-align: center;
    position: absolute;
    right: 30px;
    background: url('../img/jb02.gif') no-repeat;
}
.buy1gud a{
    color: #fff;
    display: block;
    width: 44px;
    height: 58px;
}
.buy1gud1{
    top: 18px;
    width: 44px;
    height: 58px;
    font-size: 14px;
    line-height:40px;
    text-align: center;
    position: absolute;
    right: 30px;
    background: url('../img/jb04.gif') no-repeat;
}
.buy1gud1 a{
    color: white;
    display: block;
    width: 44px;
    height: 58px;
}
.gonggao{
    float: left;
    font-size: 15px;
    height: 38px;
    line-height: 38px;
    margin: 10px 0 0 0;
    width: 100%;
    border: 1px solid #dfdfdf;
    overflow: hidden;
}
.gonggao span{
    float: left;
    background:url('../img/indexgg.gif');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    color: #666;
    padding: 0 0 0 50px;
}
.gglan{
    float: left;
}
.ggbtn{
    cursor: pointer;
    float: right;
    padding: 0 20px 0 0;
}
.ggbtn .ggzjt{
    color: #3580ba;
    width: 22px;
    font-size: 15px;
    height: 38px;
    line-height: 38px;
    float: left;
}
.ggbtn .ggrjt{
    color: #3580ba;
    width: 22px;
    font-size: 15px;
    height: 38px;
    line-height: 38px;
    float: left;
}
.help{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    border: 1px solid #dfdfdf;
    padding: 20px 0 20px 35px;
}







.bangzhu{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    border: 1px solid #dfdfdf;
    padding: 20px 0 20px 35px;
    text-align: center;
}
.bangzhu-low .bt{
    font: bold 15px/180% "微软雅黑";
    color: #666;
    margin: 0;
    height: 27px;
}
.bangzhu-low li{
    font-size: 15px;
    margin-top: 2px;
    color: #666;
}
.bangzhu ul{
    margin-left: 150px;
    float: left;
}
.bangzhu ul:nth-child(1){
    margin-left: 0;
}
footer{
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
}
.footer-box{
    float: left;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-row1{
    width: 100%;
    height: 33px;
    padding: 0 276px;
    text-align: center;
}
.footer-row1 li{
    margin-left: 5px;
    float: left;
    color: #666;
}
.footer-row2{
    height: 33px;
    padding: 0 335px;
    text-align: center;
}
.footer-row2 li{
    margin-left: 5px;
    float: left;
    color: #666;
}
.footer-box span{
    height: 33px;
    color: #333;
}
.footer-row4{
    height: 33px;
    padding: 0 430px;
}
.footer-row4 li{
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    color: #333;
}
.footer-row5{
    height: 47px;
    padding: 0 430px;
}
.footer-row5 li{
    margin-top: 5px;
    margin-left: 15px;
    float: left;
    color: #333;
}
.gov{
    background: url('../img/gov.gif') no-repeat;
    background-size: 21px 25px;
    line-height: 25px;
    margin: 12px 0 0 0;
    padding: 0 0 0 25px;
    width: auto;
}

.topbar a:hover{
    color: #25b2fe;
}
.bangzhu-low li:hover{
    color:#0085d0;
}
.footer-row1 li:hover{
    color:#0085d0;
}
.footer-row2 li:hover{
    color:#0085d0;
}
.gglan{
    float: left;
    width: 80%;
    margin: 0;
}
.gglan li{
    float: left;
    padding: 0 10px 0 20px;
    width:50%;
    display: block;
}
.gglan li a{
    color: #0085d0;
    width: 70%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gglan li span{
    color: #CCC;
    float: left;
    background: none;
    padding: 0 0 0 5px;
    width: 30%;
}
.dropdown {
    width: 59px;
    height: 25px;
    text-align: center;
    font-size: 12px;
    color: #e40077;
    cursor: pointer;
    float: left;
    position: relative;
    margin: 0;
}
.dropdown img {
    width: 10px;
    height: 10px;
    margin-top: 7px;
    float: left;
    margin-left: 10px;
}
.gd1og {
    position: absolute;
    top: 25px;
    left: 0;
    display: none;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background: #fff;
    width: 170px;
    height: 120px;
    z-index: 1002;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index: 100;
}
.rfu{
	    z-index: 9000;
    width: 140px;
    height: 142px;
    position: fixed;
    right: -102px;
  
    bottom: 20px;
    transition: all 1s;
}

.tsjy{
	cursor: pointer;
    height: 22px;
    left: -22px;
    position: absolute;
    top: 95px;
    width: 86px;
    z-index: -1;
    transition: all 1s;
}
.cjwt{
cursor: pointer;
    height: 22px;
    left: -22px;
    position: absolute;
    top: 35px;
    width: 86px;
    z-index: -1;
    transition: all 1s;
}
.rfu .zxzx {
	cursor: pointer;
    height: 22px;
    left: -22px;
    position: absolute;
    top: 65px;
    right: 50px;
    width: 86px;
    z-index: -1;
}
.zxzx:hover{
	left: -85px;
	transition: all 1s;
}
.cjwt:hover{
	left: -85px;
}

.tsjy:hover{
	left: -85px;
}