body {
    font-family: 微软雅黑;
}

header {
    width: 100%;
    height: 25px;
    background: #f6f6f6;
}

.main-header {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    font-size: 12px;
    color: #888;
    font-family: 微软雅黑;
}

.main-header a {
    color: #888;
}

.main-header .he-left {
    width: 140px;
    height: 100%;
    line-height: 25px;
    float: left;
}

.main-header .he-left a {
    display: inline-block;
    color: #888;
    padding: 0 3px;
    border-right: 1px solid #ececec;
}

.main-header a:hover {
    color: #25b2fe;
}

.main-header .he-right {
    width: 428px;
    height: 25px;
    float: right;
    display: flex;
    justify-content: space-between;
    line-height: 25px;
}

.main-header .he-right .login {
    width: 70px;
    padding: 0 0 0 25px;
    background: #f6f6f6 url("../img/login.png") 10px center no-repeat;
    float: left;
    position: relative;
}

.main-header .he-right .login a {
    color: #e40077;
    display: inline-block;
}

.main-header .he-right .login .hid {
    width: 170px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 25px;
    background: white;
    z-index: 999;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: none;
}

.main-header .he-right .login .hid li {
    width: 140px;
    height: 35px;
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-top: 15px;
}

.main-header .he-right .login .hid li a {
    display: block;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #25b2fe;
    font-size: 14px;
}

.main-header .he-right .login:hover {
    background: white url("../img/login.png") 10px center no-repeat;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.main-header .he-right .login:hover a {
    color: #25b2fe;
}

.office {
    padding: 0 10px 0 25px;
    background: url("../img/shouji.png") 10px center no-repeat;
    float: left;
    position: relative;
}

.office .yier {
    width: 160px;
    height: 155px;
    position: absolute;
    top: 25px;
    left: 0;
    background: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    z-index: 999;
    display: none;

}

.office .yier .erw {
    float: left;
    margin-left: 28px;
    margin-top: 20px;
}

.office .yier p {
    text-align: center;
    float: left;
    width: 100%;
}

.main-header .he-right .office .hot {
    float: right;
    margin-top: 5px;
    margin-left: 3px;
}

.main-header .he-right span {
    font-size: 10px;
    line-height: 25px;
    margin-left: 5px;
}

.container {
    width: 1200px;
    height: 92px;
    margin: 0 auto;
    padding: 15px 50px 15px 0;
}

.container .logo {
    width: 230px;
    height: 42px;
    float: left;
    margin-top: 10px;
}

.container .logo img {
    width: 100%;
    height: 100%;
}

.topcity {
    width: 50px;
    float: left;
    cursor: pointer;
    font-size: 14px;
    height: 25px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px 0 0;
    background: transparent url(../img/x.gif) no-repeat right 9px;
}

.search {
    width: 575px;
    overflow: hidden;
    float: right;
}

.search .text {
    width: 490px;
    height: 36px;
    border: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
}

.search .btn {
    width: 85px;
    height: 36px;
    float: right;
    background: #25b2fe url(../img/search.png) no-repeat 15px center;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding-left: 16px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search .sm {
    width: 60%;
    float: left;
    font-size: 12px;
    line-height: 36px;
    display: flex;
    justify-content: space-between;
}

.search .sm a {
    display: inline-block;
}

.search .sm a:nth-child(1), a:nth-child(3), a:nth-child(5) {
    color: #e40077;
}

.search .sm a:hover {
    color: #337ab7;
    text-decoration: underline;
}

nav {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}

nav .na {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

nav .na li {
    height: 40px;
    background: #ccc;
    border-right: 1px solid #fff;
    text-align: center;
    line-height: 40px;
    color: #333;
    font-size: 16px;
    font-family: 微软雅黑;
    /*position: relative;*/
    cursor: pointer;

}

nav .na li:last-child {
    border-right: 0px solid #fff;
    cursor: pointer;
}

nav .na .index {
    width: 160px;
    float: left;
}

nav .na .yi {
    width: 260px;
    float: left;
}

nav .na .yi .erjiye {
    width: 1200px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    z-index: 999;
    display: none;

}

nav .na .yi .erjiye a {
    display: inline-block;
    width: 168px;
    height: 40px;
    float: left;
    z-index: 999;
    color: #333;
}

nav .na .yi:hover {
    background: #f3f3f3;
    color: #25b2fe;;
}

nav .na .yi .erjiye a:hover {
    color: #25b2fe;
}

.san {
    width: 0;
    height: 0;
    margin-top: -8px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #fff;
    margin-left: 50%;
    display: none;
}

.banner {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

aside {
    width: 160px;
    height: 350px;
    float: left;
    margin-top: 10px;
    border: 1px solid #b8d9e9;
}

aside h1 {
    font-size: 12px;
    text-align: center;
    padding: 0px 0;
    color: #333;
    height: 30px;
    line-height: 30px;
}

aside h1:hover {
    color: #33acfb;
}

aside ul {
    width: 100%;
    overflow: hidden;
    font-family: 微软雅黑;

}

aside ul li {
    width: 100%;
    height: 52px;
    float: left;
    text-align: center;
    line-height: 52px;
    border-top: 1px solid #e9e9e9;
    padding: 0 30px;
}

aside ul li a:hover {
    color: #33acfb;
}

aside ul li img {
    width: 21px;
    height: 21px;
    float: left;
    margin-top: 16px;
}

aside ul li a {
    display: inline-block;
}

.ban {
    width: 740px;
    height: 350px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
}

.ban .ba {
    width: 740px;
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;
}

.ban a {
    width: 740px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.ban a img {
    width: 740px;
    height: 100%;
    float: left;
}

.ban a:first-child {
    z-index: 2;
}

@keyframes leftOut {
    0% {
        left: 0;
    }
    100% {
        left: -740px;
    }
}

.leftOut {
    animation: leftOut 1s ease-in;
}

@keyframes leftIn {
    0% {
        left: 740px;
    }
    100% {
        left: 0;
    }
}

.leftIn {
    animation: leftIn 1s ease-in;
}

@keyframes rightIn {
    0% {
        left: -740px;
    }
    100% {
        left: 0;
    }
}

.rightIn {
    animation: rightIn 1s ease-in;
}

@keyframes rightOut {
    0% {
        left: 0;
    }
    100% {
        left: 740px;
    }
}

.rightOut {
    animation: rightOut 1s ease-in;
}

.ban .baz {
    width: 30px;
    height: 70px;
    background: url("../img/lbnextpre.png") no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.7;
    z-index: 999;
    cursor: pointer;

}

.ban .bay {
    width: 30px;
    height: 70px;
    background: url("../img/lbnextpre.png") no-repeat right 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.7;
    z-index: 999;
    cursor: pointer;
}

.lun {
    width: 140px;
    height: 15px;
    position: absolute;
    left: 40%;
    bottom: 6px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.lun  div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
}

.lun .active {
    background: #E40077;
}

.serve {
    width: 278px;
    height: 349px;
    float: right;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
}

.serve .se-detail {
    width: 276px;
    height: 171px;
    float: left;
}

.serve .se-detail .se-top {
    width: 100%;
    height: 78px;
    float: left;
    display: flex;
    justify-content: space-between;
}

.serve .se-detail .se-top li {
    width: 33%;
    height: 78px;
    text-align: center;
    font-size: 12px;
    padding-top: 15px;
    position: relative;
}

.serve .se-detail .se-top li:last-child a .xtip {
    width: 21px;
    height: 21px;
    background: #e40077;
    border-radius: 50%;
    position: absolute;
    left: 51px;
    top: 3px;
    color: white;
}

.serve .se-detail .se-top li img {
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 29px;
}
.serve .se-detail .se-top li:hover img{
    transform: scale(1.1);
}
.serve .se-detail .se-top li:first-child img {
    width: 36px;
    height: 36px;
    float: left;
    margin-left: 25px;
}

.serve .se-detail .se-top a {
    display: block;
    overflow: hidden;
}

.serve .se-detail .se-top li p {
    width: 100%;
    float: left;
    margin-top: 12px;
}

.serve .se-detail .se-top li:first-child p {
    width: 100%;
    float: left;
    margin-top: 8px;
}

.chongzhi {
    width: 100%;
    height: 185px;
    float: left;
    padding: 20px 10px 10px 10px;
}

.chongzhi .czjf {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}

.chongzhi .czjf a {
    display: inline-block;
    color: black;
}

.chongzhi .czjf span {
    float: right;
    color: red;
}

.chongzhi .num {
    width: 100%;
    height: 28px;
    float: left;
    margin-top: 15px;
    line-height: 28px;
    padding: 0 10px;
}

.chongzhi .num input {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chongzhi .mon {
    width: 100%;
    overflow: hidden;
    float: left;
    margin-top: 15px;
}

.chongzhi .mon ul {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.chongzhi .mon ul li {
    width: 45px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chongzhi .mon ul li:nth-child(2) {
    background: #e40077;
    border: 1px solid #e40077;
    color: white;
}

.rechar {
    width: 90px;
    height: 35px;
    float: left;
    margin-left: 30%;
    margin-top: 10px;
}

.rechar input {
    width: 90px;
    height: 35px;
    float: left;
    background: #33acfb;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
}

section {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
}

.xilie {
    width: 1200px;
    height: 180px;
    background: #dfdfdf;
    padding: 10px 15px;
}

.xilie .content {
    width: 1170px;
    height: 100%;
    position: relative;
    /*overflow: hidden;*/
}

.xilie .content ul {
    width: 4720px;
    height: 100%;
    float: left;
    margin-left: -1180px;
    transition: all 1s;
}

.xilie .content ul li {
    width: 285px;
    height: 160px;
    background: white;
    float: left;
    margin: 0 10px 0 0;
}

.xilie .content ul li a {
    display: block;
}

.xilie .content ul li a h1 {
    color: rgb(51, 51, 51);
    font-size: 18px;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.xilie .content ul li a h2 {
    color: rgb(51, 51, 51);
    font-size: 14px;
    padding: 6px 0px 0px 20px;
    margin: 0px;
}

.xilie .content ul li a img {
    float: right;
    width: 235px;
    height: 110px;
}

.xilie .con-pre {
    width: 28px;
    height: 35px;
    background: url("../img/lbnextpre.gif") no-repeat left top;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.xilie .con-next {
    width: 28px;
    height: 35px;
    background: url("../img/lbnextpre.gif") no-repeat right 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.G {
    width: 1200px;
    height: 425px;
    margin-top: 10px;
    float: left;
}

.G .G-header {
    width: 100%;
    height: 48px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    line-height: 48px;
    color: #0085d0;
    font-weight: bold;
}

.G .G-header a {
    font-size: 13px;
    float: right;
    color: #666;
    display: block;
    font-weight: 500;
    cursor: pointer;
}

.G .G-header a:hover {
    color: #337ab7;
    text-decoration: underline;
}

.G .G-main {
    width: 100%;
    overflow: hidden;
    float: left;
}

.G .G-main .G-left {
    width: 300px;
    height: 380px;
    float: left;
}

.G .G-main .G-left a {
    display: block;
}

.G .G-main .G-right {
    width: 900px;
    height: 380px;
    float: left;
}

.G .G-main .G-right ul {
    width: 900px;
    height: 380px;
    float: left;
}

.G .G-main .G-right ul li {
    width: 299px;
    height: 188px;
    float: left;

}

.G .G-main .G-right ul li a {
    display: block;
}

.G .G-main .G-right ul li a h1 {
    color: black;
    font-size: 18px;
    padding: 3px 0px 0px 20px;
    margin: 0px;
    font-weight: 500;
}

.G .G-main .G-right ul li a h2 {
    color: black;
    font-size: 14px;
    padding: 6px 0px 0px 20px;
    margin: 0px;
    font-weight: 400;
}

.G .G-main .G-right ul li img {
    float: right;
    transition: all 0.5s;
}
.G .G-main .G-right ul li:hover img{
    transform: translateX(-10px);
}
.G .G-main .G-right ul li:nth-child(2) {
    background: #efefef;
    color: #E40077;
}

.G .G-main .G-right ul li:nth-child(2) a h1, li:nth-child(4) a h1, li:nth-child(6) a h1 {
    color: #E40077;
}

.G .G-main .G-right ul li:nth-child(4) {
    background: #efefef;
    color: #E40077;
}

.G .G-main .G-right ul li:nth-child(4) a h1 {
    color: #E40077;
}

.G .G-main .G-right ul li:nth-child(6) {
    background: #efefef;
    color: #E40077;
}

.G .G-main .G-right ul li:nth-child(6) a h1 {
    color: #E40077;
}

.buy {
    width: 1200px;
    height: 435px;
    margin-top: 10px;
    float: left;
}

.buy .buy-header {
    width: 100%;
    height: 48px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    line-height: 48px;
    color: #0085d0;
    font-weight: bold;
}

.buy .buy-header a {
    font-size: 13px;
    float: right;
    color: #666;
    display: block;
    font-weight: 500;
    cursor: pointer;

}

.buy .buy-header a:hover {
    color: #337ab7;
    text-decoration: underline;
}

.buy .buy-main {
    width: 100%;
    height: 380px;
    float: left;
    display: flex;
    justify-content: space-between;
}

.buy .buy-main li:not(last) {
    width: 25%;
    height: 100%;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.buy .buy-main li:last-child {
    border-right: 1px solid #ccc;
    position: relative;
}

.buy .buy-main li a {
    display: block;

}

.buy .buy-main li a .buyphone1 {
    width: 44px;
    height: 58px;
    background: url("../img/jb02.gif") no-repeat;
    color: white;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    right: 30px;
    top: 20px;
}

.buy .buy-main li a .buyphone2 {
    width: 44px;
    height: 58px;
    background: url("../img/jb04.gif") no-repeat;
    color: white;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    right: 30px;
    top: 20px;
}

.buy .buy-main li .ti {
    padding: 20px 15px 0;
}

.buy .buy-main li .ti h2 {
    font-size: 14px;
    line-height: 20px;
    color: rgb(102, 102, 102);
    font-weight: 500;
    padding: 3px 0;

}

.buy .buy-main li .ti h3 {
    font-size: 12px;
    line-height: 20px;
    color: rgb(0, 133, 208);
    font-weight: 500;
}

.buy .buy-main li .price {
    width: 100%;
}

.buy .buy-main li .price p {
    height: 34px;
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    color: rgb(239, 51, 162);
    line-height: 34px;
    padding: 0 15px 0;
}

.buy .buy-main li .price img {
    float: right;
    transition: all 0.5s;
}
.buy .buy-main>li:hover img{
    transform: translateX(-10px);
}
.yw {
    width: 1200px;
    height: 425px;
    margin-top: 10px;
    float: left;
}

.yw .yw-header {
    width: 100%;
    height: 48px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    line-height: 48px;
    color: #0085d0;
    font-weight: bold;
}

.yw .yw-header a {
    font-size: 13px;
    float: right;
    color: #666;
    display: block;
    font-weight: 500;
    cursor: pointer;

}

.yw .yw-header a:hover {
    color: #337ab7;
    text-decoration: underline;
}

.yw .yw-main {
    width: 100%;
    overflow: hidden;
    float: left;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.yw .yw-main .yw-left {
    width: 300px;
    height: 380px;
    float: left;
}

.yw .yw-main .yw-left a {
    display: block;
}

.yw .yw-main .yw-right {
    width: 898px;
    height: 380px;
    float: left;
}

.yw .yw-main .yw-right ul {
    width: 900px;
    height: 380px;
    float: left;

}

.yw .yw-main .yw-right ul li {
    width: 299px;
    height: 191px;
    float: left;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}

.yw .yw-main .yw-right ul li a {
    display: block;
}
.yw .yw-main .yw-right ul li:hover img{
    transform: translateX(-10px);
}
.yw .yw-main .yw-right ul li a h1 {
    color: black;
    font-size: 18px;
    padding: 3px 0px 0px 20px;
    margin: 0px;
    font-weight: 500;
}

.yw .yw-main .yw-right ul li a h2 {
    color: black;
    font-size: 14px;
    padding: 6px 0px 0px 20px;
    margin: 0px;
    font-weight: 400;
}

.yw .yw-main .yw-right ul li img {
    float: right;
    transition: all 0.5s;
}

.notice {
    width: 1200px;
    height: 38px;
    float: left;
    margin-top: 20px;
    border: 1px solid #ccc;
    font-size: 15px;
    line-height: 38px;
    padding-left: 20px;
    overflow: hidden;
}

.notice .no-left {
    float: left;
}

.notice .no-left img {
    float: left;
    margin-top: 12px;
}

.notice .no-left span {
    margin-left: 5px;
}

.notice .no-middle {
    width: 80%;
    float: left;
    margin-left: 50px;
}

.notice .no-middle li {
    width: 100%;
    height: 38px;
    float: left;
}

.notice .no-middle li a {
    width: 25%;
    color: #0085d0;
    height: 38px;
    float: left;
}

.notice .no-middle li .a1 {
    margin-left: 20px;
}

.notice .no-middle li span {
    float: left;
    margin-left: 50px;
    color: #ccc;
}

.notice .no-right {
    float: right;
    font-size: 18px;
    color: rgb(53, 128, 186);
}

.notice .no-right .zj {
    width: 22px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    float: left;
}

.notice .no-right .yj {
    width: 22px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    float: right;
}

.else {
    width: 1200px;
    height: 231px;
    float: left;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px 50px;
}

.else .else1 {
    width: 20%;
    float: left;
}

.else .else1 dt {
    height: 38px;
    line-height: 38px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(102, 102, 102);
}

.else .else1 dd {
    font-size: 14px;
    line-height: 35px;
}

.else .else1 dd a {
    color: #666;
}

.else .else1 dd:hover a {
    color: #337ab7;
    text-decoration: underline;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #666;
    float: left;
}

footer ul {
    width: 50%;
    height: 33px;
    line-height: 33px;
    float: left;
    margin-top: 20px;
    margin-left: 26%;
    display: flex;
    justify-content: space-between;
}

footer ul li {
    float: left;
}

footer ul li a {
    color: #666;
}

footer ul li a:hover {
    color: #337ab7;
    text-decoration: underline;
}

footer .wap {
    width: 100%;
    text-align: center;
    float: left;
    line-height: 33px;
}

footer .wap a {
    color: #666;
}

footer .wap a:hover {
    color: #337ab7;
    text-decoration: underline;
}

footer .banquan {
    width: 100%;
    float: left;
    text-align: center;
    line-height: 33px;
}

footer .china {
    width: 100%;
    float: left;
    text-align: center;
    line-height: 33px;
}

footer .website {
    width: 22%;
    height: 100px;
    float: left;
    margin-left: 40%;
}

footer .website .im {
    width: 128px;
    height: 47px;
    float: left;
    margin-top: 18px;
}

footer .website .im img {
    width: 100%;
    height: 100%;
    float: left;
}

footer .website .gov {
    float: right;
    margin-top: 18px;
}

footer .website .gov img {
    width: 21px;
    height: 25px;
    float: left;
    margin-top: 12px;
}

footer .website .gov a {
    line-height: 47px;
}

.information {
    width: 124px;
    height: 177px;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: 635px;
}

.information img {
    position: absolute;
    right: 0;
    z-index: 9999;
}

.information .i-zixun {
    width: 86px;
    height: 22px;
    position: absolute;
    right: 60px;
    top: 25px;
    transition: all 0.5s;
}

.information .i-zixun a {
    width: 86px;
    height: 22px;
    display: block;
}

.information .i-zixun a img {
    width: 86px;
    height: 22px;
    float: left;
}

.information .problem {
    width: 86px;
    height: 22px;
    position: absolute;
    right: 60px;
    top: 50px;
    transition: all 0.5s;
}

.information .problem a {
    width: 86px;
    height: 22px;
    display: block;
}

.information .problem a img {
    width: 86px;
    height: 22px;
    float: left;
}

.information .suggition {
    width: 86px;
    height: 22px;
    position: absolute;
    right: 60px;
    top: 75px;
    transition: all 0.5s;
}

.information .suggition a {
    width: 86px;
    height: 22px;
    display: block;
}

.information .suggition a img {
    width: 86px;
    height: 22px;
    float: left;
}