<html>
<head>
<style type="text/css">
.pos0
{
position:relative;/*relative的话，字显示为横排，改成absolute，字显示为竖排*/
left:100px;
top:100px;
}
.pos1
{
position:absolute;
left:100px;
top:100px
}
/* .list{
	list-style:none;}
 */


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none; /* 清除a标签下划线 */
}
a{
	color: #808080;
	

}
a:hover{
        	color: #afdd22;
        }
  a{text-decoration:none} 