*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none; /* 清除a标签下划线 */

	box-sizing: border-box;   /* 去除边框 */
	list-style: none;

}
a{
	color: #808080;
	

}
a:hover{
        	color: #afdd22;
        }
  a{text-decoration:none} 